// bg color & font color.
$fb: #3a5796;
$cathay: #01aa4f;

// layout
$headerHeight: 90px;
$m_headerHeight: 60px;

$btnWidth: 300px;
$btnHeight: 75px;
$m_btnWidth: 175px;
$m_btnHeight: 45px;

$cardWidth: 512px;
$cardHeight: 314px;

$fontSize: 1.0625rem;