*{
  padding: 0;
  margin: 0;
}

body, html{
  width: 100%;
  
}

.pc{
  display: inline-block;
}
.mb{
  display: none;

}

.bg_green {
  background: #00a83c;
}

.bg_white{
  background-color: #fff;
}

.bg_grey {
  background: #f2f2f2;
}

.bg_yellow {
  background-color: #fff43c;
}

.f_white{
  color: #fff;
}

.f_yellow{
  color: #fff43c;
}

.f_green{
  color: #01883f;
}

.f_grey{
  color: #333;
}

.f13{
  font-size: 13px;
}

.f14{
  font-size: 14px;
}

.f16{
  font-size: 16px;
}

.f18{
  font-size: 18px;
}

.f19{
  font-size: 19px;
}

.f22{
  font-size: 22px;
}

.f24{
  font-size: 24px;
}

.f27{
  font-size: 27px;
}

.f30{
  font-size: 30px;
}

.f40{
  font-size: 40px;
}

.f43{
  font-size: 43px;
}

.abs{
  position: absolute;
}

.fix{
  position: fixed;
}


.W100 {
  width: 100%;
}

.W50 {
  width: 50%;
}

.W1040 {
  max-width: 1040px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; 
}

.W900 {
  max-width: 900px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; 
}

.r50{
  border-radius: 50%;
}

// .btn{
//   padding: 30px 100px;
//   display: inline-block;
//   line-height: 1;
// }

.title{
  margin-bottom: 105px;
  position: relative;
  display: inline-block;
  padding: 0 25px;
  font-family: 'NotoSans-Black',Microsoft JhengHei; 
  @media only screen and (max-width: 1024px)  {
    margin-bottom: 65px;
  }
  @media only screen and (max-width: 516px)  {
    margin-bottom: 55px;
  }
  font{
    display: block;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.icon_bg{
    background-repeat: no-repeat;
    background-position: left center;
    
  
}

*{
  webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  outline:none;
}
*:focus {
  outline: none;
}

@media only screen and (max-width: 516px)  {
  .pc{
    display: none;
  }
  .mb{
    display: inline-block;
  }
  .W50 {
    width: 100%;
  }
  
  .f13{
    font-size: 12px;
  }
  
  .f14{
    font-size: 13px;
  }
  
  .f16{
    font-size: 14px;
  }
  
  .f18{
    font-size: 17px;
  }
  
  .f19{
    font-size: 18px;
  }
  
  .f22{
    font-size: 20px;
  }
  
  .f24{
    font-size: 22px;
  }
  
  .f27{
    font-size: 25px;
  }
  
  .f30{
    font-size: 28px;
  }
  
  .f40{
    font-size: 35px;
  }
  
  .f43{
    font-size: 39px;
  }
  // .btn{
  //   padding: 20px 70px;
  // }

}

@media only screen and (max-width: 320px)  {
  .f24{
    font-size: 21px;
  }
  
  .f27{
    font-size: 23px;
  }
  
  .f30{
    font-size: 25px;
  }
  
  .f40{
    font-size: 33px;
  }
  
  .f43{
    font-size: 37px;
  }
}

