@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,500");
h1 {
  font-weight: 700; }

h2 {
  font-weight: 700; }

h3 {
  font-weight: 700; }

h4 {
  font-weight: 700; }

h5 {
  font-weight: 700; }

h6 {
  font-weight: 700; }

.btn a {
  background-color: #01aa4f;
  color: #fff;
  z-index: 405;
  margin: inherit; }

.card {
  width: 100%;
  height: calc(100vh - 70px);
  background: #01aa4f;
  font-family: 'Source Sans Pro', sans-serif; }
  .card img {
    width: 100%;
    z-index: 55; }
  .card .content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #e0e0e0;
    overflow: hidden;
    font-size: 1.0625rem; }
    .card .content .bg1,
    .card .content .bg2 {
      position: absolute;
      width: 100%;
      height: 100%; }
    .card .content .bg1 {
      background: url(../img/index_bg_02.jpg) center center no-repeat;
      background-size: cover;
      background-position: center 70%; }
    .card .content .bg2 {
      background: url(../img/namecard_bg.jpg) center center no-repeat;
      background-size: cover; }
      .card .content .bg2 .dot_rt {
        position: absolute;
        width: 30%;
        top: 7%;
        right: 6%;
        pointer-events: none;
        z-index: 5; }
      .card .content .bg2 .dot_rb {
        position: absolute;
        width: 10%;
        top: 50%;
        right: 15%;
        pointer-events: none;
        z-index: 5; }
      .card .content .bg2 .dot_left {
        position: absolute;
        width: 30%;
        top: 25%;
        left: 0%;
        pointer-events: none;
        z-index: 5; }
    .card .content .title {
      margin: 0 auto;
      z-index: 1;
      text-align: center; }
      .card .content .title h1 {
        margin-top: 50px;
        opacity: 0;
        -webkit-transition: opacity .5s ease, -webkit-transform .5s ease;
        transition: opacity .5s ease, -webkit-transform .5s ease;
        -o-transition: transform .5s ease, opacity .5s ease;
        transition: transform .5s ease, opacity .5s ease;
        transition: transform .5s ease, opacity .5s ease, -webkit-transform .5s ease; }
        .card .content .title h1 img {
          max-width: 465px; }
        @media screen and (max-width: 1440px) {
          .card .content .title h1 {
            margin-top: 20px; }
            .card .content .title h1 img {
              max-width: 435px; } }
        @media screen and (max-width: 1440px) and (max-height: 750px) {
          .card .content .title h1 img {
            max-width: 390px; } }
      .card .content .title p {
        font-family: 'Noto Sans', Microsoft JhengHei, sans-serif;
        text-align: center; }
        .card .content .title p.word {
          line-height: 1.5;
          letter-spacing: 1.5px;
          margin: 10px 0 20px;
          opacity: 0;
          -webkit-transition: opacity .5s ease, -webkit-transform .5s ease;
          transition: opacity .5s ease, -webkit-transform .5s ease;
          -o-transition: transform .5s ease, opacity .5s ease;
          transition: transform .5s ease, opacity .5s ease;
          transition: transform .5s ease, opacity .5s ease, -webkit-transform .5s ease;
          -webkit-transition-delay: .15s;
          -o-transition-delay: .15s;
          transition-delay: .15s; }
          @media screen and (max-width: 1440px) and (max-height: 750px) {
            .card .content .title p.word {
              margin: 0 0 20px; } }
        .card .content .title p.join {
          margin-top: -20px; }
          .card .content .title p.join span {
            position: relative;
            z-index: 0; }
            .card .content .title p.join span:after {
              content: '';
              position: absolute;
              bottom: 0;
              width: 0%;
              height: 12px;
              background: yellow;
              left: 0;
              z-index: -1;
              -webkit-transition: width .35s ease;
              -o-transition: width .35s ease;
              transition: width .35s ease; }
    .card .content .step1 {
      position: relative;
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .card .content .step1 .btn {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 10px; }
        .card .content .step1 .btn a .icon-ic_f:before {
          position: relative;
          top: 1px;
          padding-right: 15px;
          -webkit-transition: all 0.5s ease-in-out 0s;
          -o-transition: all 0.5s ease-in-out 0s;
          transition: all 0.5s ease-in-out 0s; }
    .card .content .step2 {
      position: relative;
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      opacity: 0;
      -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
      transition: opacity 1s ease, -webkit-transform 1s ease;
      -o-transition: opacity 1s ease, transform 1s ease;
      transition: opacity 1s ease, transform 1s ease;
      transition: opacity 1s ease, transform 1s ease, -webkit-transform 1s ease; }
      .card .content .step2 .cardBox {
        background-color: white;
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        width: 700px;
        height: 385px;
        border-radius: 10px;
        margin-top: 15px;
        -webkit-box-shadow: 20.6px 34.3px 39.6px 6.4px rgba(4, 0, 0, 0.34);
        box-shadow: 20.6px 34.3px 39.6px 6.4px rgba(4, 0, 0, 0.34); }
        .card .content .step2 .cardBox .left {
          position: relative;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-flex: 25;
          -webkit-flex: 25;
          -ms-flex: 25;
          flex: 25;
          background: #01aa4f;
          border-radius: 10px 0 0 10px; }
          .card .content .step2 .cardBox .left .imgBox {
            padding: 20%; }
            .card .content .step2 .cardBox .left .imgBox img {
              border-radius: 50%; }
          .card .content .step2 .cardBox .left .left_cloud {
            position: absolute;
            width: 200px;
            right: 50%;
            bottom: 20%;
            opacity: 0;
            -webkit-transform: translateX(150px);
            -ms-transform: translateX(150px);
            transform: translateX(150px);
            -webkit-transition: opacity 0.7s ease, -webkit-transform 0.7s cubic-bezier(0.175, 0.885, 0.71, 1.13);
            transition: opacity 0.7s ease, -webkit-transform 0.7s cubic-bezier(0.175, 0.885, 0.71, 1.13);
            -o-transition: opacity 0.7s ease, transform 0.7s cubic-bezier(0.175, 0.885, 0.71, 1.13);
            transition: opacity 0.7s ease, transform 0.7s cubic-bezier(0.175, 0.885, 0.71, 1.13);
            transition: opacity 0.7s ease, transform 0.7s cubic-bezier(0.175, 0.885, 0.71, 1.13), -webkit-transform 0.7s cubic-bezier(0.175, 0.885, 0.71, 1.13);
            -webkit-transition-delay: .8s;
            -o-transition-delay: .8s;
            transition-delay: .8s; }
        .card .content .step2 .cardBox .right {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-flex: 75;
          -webkit-flex: 75;
          -ms-flex: 75;
          flex: 75;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          border-radius: 0 10px 10px 0;
          background: url(../img/namecard_draw_01.png) bottom right no-repeat;
          background-size: 40%;
          position: relative; }
          .card .content .step2 .cardBox .right span.icon-ic_delete {
            cursor: pointer;
            z-index: 1; }
            .card .content .step2 .cardBox .right span.icon-ic_delete:before {
              position: absolute;
              top: 50%;
              right: 0;
              font-size: 22px;
              -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
          .card .content .step2 .cardBox .right .inputBox {
            padding: 10% 10% 10%; }
            .card .content .step2 .cardBox .right .inputBox .name {
              margin-bottom: 5%;
              position: relative;
              width: 100%; }
              .card .content .step2 .cardBox .right .inputBox .name input {
                position: relative;
                background: transparent;
                width: 100%;
                border: none;
                padding: 1.40622rem 0 1.40622rem 1.40622rem;
                font-size: 1.12498rem;
                line-height: 1.12498rem;
                color: black;
                caret-color: black; }
              .card .content .step2 .cardBox .right .inputBox .name:before {
                content: '';
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 2px;
                background-color: #01aa4f; }
              @media screen and (max-width: 767px) {
                .card .content .step2 .cardBox .right .inputBox .name input {
                  padding: 1.00937rem 0 1.00937rem 1.00937rem;
                  font-size: 1.00937rem;
                  line-height: 1.00937rem; }
                .card .content .step2 .cardBox .right .inputBox .name:before {
                  height: 1px; } }
              @media screen and (max-width: 374px) {
                .card .content .step2 .cardBox .right .inputBox .name input {
                  padding: 0.85797rem 0 0.85797rem 0.85797rem;
                  font-size: 0.85797rem;
                  line-height: 0.85797rem; } }
          .card .content .step2 .cardBox .right .dreamBox {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            margin-bottom: 5%; }
            .card .content .step2 .cardBox .right .dreamBox .dream {
              -webkit-box-flex: 2;
              -webkit-flex: 2;
              -ms-flex: 2;
              flex: 2;
              position: relative;
              width: 100%; }
              .card .content .step2 .cardBox .right .dreamBox .dream input {
                position: relative;
                background: transparent;
                width: 100%;
                border: none;
                padding: 1.40622rem 0 1.40622rem 1.40622rem;
                font-size: 1.12498rem;
                line-height: 1.12498rem;
                color: black;
                caret-color: black; }
              .card .content .step2 .cardBox .right .dreamBox .dream:before {
                content: '';
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 2px;
                background-color: #01aa4f; }
              @media screen and (max-width: 767px) {
                .card .content .step2 .cardBox .right .dreamBox .dream input {
                  padding: 1.00937rem 0 1.00937rem 1.00937rem;
                  font-size: 1.00937rem;
                  line-height: 1.00937rem; }
                .card .content .step2 .cardBox .right .dreamBox .dream:before {
                  height: 1px; } }
              @media screen and (max-width: 374px) {
                .card .content .step2 .cardBox .right .dreamBox .dream input {
                  padding: 0.85797rem 0 0.85797rem 0.85797rem;
                  font-size: 0.85797rem;
                  line-height: 0.85797rem; } }
            .card .content .step2 .cardBox .right .dreamBox .career {
              -webkit-box-flex: 1;
              -webkit-flex: 1;
              -ms-flex: 1;
              flex: 1;
              margin-left: 10px;
              position: relative;
              width: 100%; }
              .card .content .step2 .cardBox .right .dreamBox .career input {
                position: relative;
                background: transparent;
                width: 100%;
                border: none;
                padding: 1.40622rem 0 1.40622rem 1.40622rem;
                font-size: 1.12498rem;
                line-height: 1.12498rem;
                color: black;
                caret-color: black; }
              .card .content .step2 .cardBox .right .dreamBox .career:before {
                content: '';
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 2px;
                background-color: #01aa4f; }
              @media screen and (max-width: 767px) {
                .card .content .step2 .cardBox .right .dreamBox .career input {
                  padding: 1.00937rem 0 1.00937rem 1.00937rem;
                  font-size: 1.00937rem;
                  line-height: 1.00937rem; }
                .card .content .step2 .cardBox .right .dreamBox .career:before {
                  height: 1px; } }
              @media screen and (max-width: 374px) {
                .card .content .step2 .cardBox .right .dreamBox .career input {
                  padding: 0.85797rem 0 0.85797rem 0.85797rem;
                  font-size: 0.85797rem;
                  line-height: 0.85797rem; } }
              .card .content .step2 .cardBox .right .dreamBox .career:after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                top: 50%;
                right: 0;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                border-style: solid;
                border-width: 8px 8px 0 8px;
                border-color: #01aa4f transparent transparent transparent; }
              .card .content .step2 .cardBox .right .dreamBox .career.down:after {
                border-width: 0 8px 8px 8px;
                border-color: transparent transparent #01aa4f transparent; }
              .card .content .step2 .cardBox .right .dreamBox .career ul {
                position: absolute;
                width: 100%;
                max-height: 210px;
                border: solid 1px #01aa4f;
                background-color: white;
                font-family: 'Noto Sans', Microsoft JhengHei, sans-serif;
                font-size: 1.0625rem;
                overflow-y: auto;
                padding: 5px 0;
                z-index: 400; }
                .card .content .step2 .cardBox .right .dreamBox .career ul li {
                  width: 100%; }
                  .card .content .step2 .cardBox .right .dreamBox .career ul li a {
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                    -ms-flex-align: center;
                    align-items: center;
                    padding: 10px 0;
                    color: black; }
          .card .content .step2 .cardBox .right .btnBox {
            width: 100%;
            height: 39px;
            line-height: 39px;
            padding-left: 20px;
            z-index: 2; }
            .card .content .step2 .cardBox .right .btnBox .random {
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              font-family: 'Noto Sans', Microsoft JhengHei, sans-serif;
              color: #01aa4f; }
              .card .content .step2 .cardBox .right .btnBox .random img {
                width: 39px; }
              .card .content .step2 .cardBox .right .btnBox .random span {
                margin-left: 11px;
                font-size: 1.00937rem;
                letter-spacing: 1.5px; }
      .card .content .step2 .right_cloud {
        position: absolute;
        width: 200px;
        right: -16%;
        top: 10%;
        opacity: 0;
        -webkit-transition: opacity 0.7s ease, -webkit-transform 0.7s cubic-bezier(0.175, 0.885, 0.71, 1.13);
        transition: opacity 0.7s ease, -webkit-transform 0.7s cubic-bezier(0.175, 0.885, 0.71, 1.13);
        -o-transition: opacity 0.7s ease, transform 0.7s cubic-bezier(0.175, 0.885, 0.71, 1.13);
        transition: opacity 0.7s ease, transform 0.7s cubic-bezier(0.175, 0.885, 0.71, 1.13);
        transition: opacity 0.7s ease, transform 0.7s cubic-bezier(0.175, 0.885, 0.71, 1.13), -webkit-transform 0.7s cubic-bezier(0.175, 0.885, 0.71, 1.13);
        -webkit-transform: rotateX(180deg) rotateY(180deg) translateX(150px);
        transform: rotateX(180deg) rotateY(180deg) translateX(150px);
        -webkit-transition-delay: .6s;
        -o-transition-delay: .6s;
        transition-delay: .6s;
        z-index: -1; }
      .card .content .step2 .btn {
        margin-top: -30px;
        position: relative; }
        .card .content .step2 .btn a {
          opacity: 0;
          -webkit-transition: opacity .5s ease 1.3s;
          -o-transition: opacity .5s ease 1.3s;
          transition: opacity .5s ease 1.3s; }
        .card .content .step2 .btn .hand {
          position: absolute;
          margin-top: -50px;
          pointer-events: none;
          z-index: 30;
          width: 680px;
          left: 55%;
          -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }
    .card .content .step3 {
      position: relative;
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .card .content .step3 .handBox {
        position: relative;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
        .card .content .step3 .handBox .hand {
          position: relative;
          width: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          margin-top: 75px; }
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            .card .content .step3 .handBox .hand {
              -webkit-transform: translate(-12%, 0);
              -ms-transform: translate(-12%, 0);
              transform: translate(-12%, 0); } }
          @media screen and (max-width: 1440px) and (max-height: 750px) {
            .card .content .step3 .handBox .hand {
              margin-top: 55px; } }
          .card .content .step3 .handBox .hand .lefthand {
            position: absolute;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            height: 60%;
            max-width: 512px;
            max-height: 314px;
            -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            transform: translate(0, 0);
            -webkit-transition: -webkit-transform .5s 1s ease;
            transition: -webkit-transform .5s 1s ease;
            -o-transition: transform .5s 1s ease;
            transition: transform .5s 1s ease;
            transition: transform .5s 1s ease, -webkit-transform .5s 1s ease;
            border-radius: 10px;
            z-index: 2;
            -webkit-box-shadow: 20.6px 34.3px 39.6px 6.4px rgba(4, 0, 0, 0.34);
            box-shadow: 20.6px 34.3px 39.6px 6.4px rgba(4, 0, 0, 0.34); }
            .card .content .step3 .handBox .hand .lefthand .left {
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-flex: 70;
              -webkit-flex: 70;
              -ms-flex: 70;
              flex: 70;
              -webkit-transition: background .5s 1s ease;
              -o-transition: background .5s 1s ease;
              transition: background .5s 1s ease;
              background: white;
              border-radius: 10px 0 0 10px; }
              .card .content .step3 .handBox .hand .lefthand .left .main {
                position: relative;
                padding-left: 30px; }
                .card .content .step3 .handBox .hand .lefthand .left .main .word {
                  position: absolute;
                  top: 22.5%;
                  font-weight: 500;
                  line-height: 1.3;
                  color: #01aa4f;
                  word-break: keep-all; }
                  .card .content .step3 .handBox .hand .lefthand .left .main .word .card_title {
                    letter-spacing: 1px;
                    font-size: 1.43438rem; }
                  .card .content .step3 .handBox .hand .lefthand .left .main .word .email {
                    font-size: 0.85rem;
                    letter-spacing: .6px; }
                .card .content .step3 .handBox .hand .lefthand .left .main .logo {
                  position: absolute;
                  bottom: 30px;
                  width: 90px; }
            .card .content .step3 .handBox .hand .lefthand .right {
              position: relative;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-flex: 30;
              -webkit-flex: 30;
              -ms-flex: 30;
              flex: 30;
              -webkit-transition: background .5s 1s ease;
              -o-transition: background .5s 1s ease;
              transition: background .5s 1s ease;
              background: yellow;
              border-radius: 0 10px 10px 0;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -webkit-flex-direction: column;
              -ms-flex-direction: column;
              flex-direction: column;
              -webkit-box-align: center;
              -webkit-align-items: center;
              -ms-flex-align: center;
              align-items: center; }
              .card .content .step3 .handBox .hand .lefthand .right .picture {
                position: absolute;
                top: 15%;
                width: 100px;
                height: 100px;
                left: 50%;
                -webkit-transform: translate(-50%, 0);
                -ms-transform: translate(-50%, 0);
                transform: translate(-50%, 0); }
                .card .content .step3 .handBox .hand .lefthand .right .picture img {
                  border-radius: 50%;
                  overflow: hidden; }
              .card .content .step3 .handBox .hand .lefthand .right .name {
                text-align: center;
                line-height: 1.2;
                position: absolute;
                color: #01aa4f;
                bottom: 15%;
                font-size: 1.7425rem;
                font-weight: 500;
                letter-spacing: 1px;
                width: 100%;
                left: 0; }
          .card .content .step3 .handBox .hand .righthand {
            position: absolute;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            width: 100%;
            height: 60%;
            max-width: 512px;
            max-height: 314px;
            background: url(../img/svg/namecard_bg.svg) center center no-repeat;
            background-size: 80%;
            background-position: right top;
            background-color: #01aa4f;
            -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            transform: translate(0, 0);
            -webkit-transition: -webkit-transform .5s 1s ease;
            transition: -webkit-transform .5s 1s ease;
            -o-transition: transform .5s 1s ease;
            transition: transform .5s 1s ease;
            transition: transform .5s 1s ease, -webkit-transform .5s 1s ease;
            border-radius: 10px;
            z-index: 1;
            -webkit-box-shadow: 20.6px 34.3px 39.6px 6.4px rgba(4, 0, 0, 0.34);
            box-shadow: 20.6px 34.3px 39.6px 6.4px rgba(4, 0, 0, 0.34); }
            .card .content .step3 .handBox .hand .righthand .main {
              position: relative;
              width: 100%;
              top: 27.5%;
              margin-left: 35px;
              color: white; }
              .card .content .step3 .handBox .hand .righthand .main .career {
                color: yellow;
                position: relative;
                font-size: 1.43438rem;
                font-family: 'Noto Sans', Microsoft JhengHei, sans-serif;
                letter-spacing: 1px;
                word-break: keep-all; }
                .card .content .step3 .handBox .hand .righthand .main .career:after {
                  content: '';
                  position: absolute;
                  width: 50%;
                  height: 13px;
                  background-color: yellow;
                  top: 50%;
                  right: 0;
                  -webkit-transform: translate(0, -50%);
                  -ms-transform: translate(0, -50%);
                  transform: translate(0, -50%); }
                .card .content .step3 .handBox .hand .righthand .main .career.word6:after {
                  width: 55%; }
                .card .content .step3 .handBox .hand .righthand .main .career.word5:after {
                  width: 60%; }
                .card .content .step3 .handBox .hand .righthand .main .career.word4:after {
                  width: 65%; }
              .card .content .step3 .handBox .hand .righthand .main .email {
                font-size: 0.85rem;
                margin: 10px 0;
                letter-spacing: .6px;
                word-break: keep-all; }
        .card .content .step3 .handBox .btn {
          position: absolute;
          opacity: 0;
          -webkit-transition: opacity 0.65s ease;
          -o-transition: opacity 0.65s ease;
          transition: opacity 0.65s ease;
          -webkit-transition-delay: .5s;
          -o-transition-delay: .5s;
          transition-delay: .5s; }
          .card .content .step3 .handBox .btn a {
            -webkit-transform: translate(0, -100%);
            -ms-transform: translate(0, -100%);
            transform: translate(0, -100%);
            -webkit-transition: -webkit-transform .6s ease;
            transition: -webkit-transform .6s ease;
            -o-transition: transform .6s ease;
            transition: transform .6s ease;
            transition: transform .6s ease, -webkit-transform .6s ease; }
            .card .content .step3 .handBox .btn a .icon-ic_f:before {
              position: relative;
              top: 1px;
              padding-right: 15px;
              color: #fff43c; }
          @media screen and (min-width: 769px) {
            .card .content .step3 .handBox .btn:hover a .icon-ic_f:before {
              color: #01aa4f; } }
    .card .content .step1 .btn {
      opacity: 0;
      -webkit-transition: opacity .5s ease .3s, -webkit-transform .5s ease .3s;
      transition: opacity .5s ease .3s, -webkit-transform .5s ease .3s;
      -o-transition: transform .5s ease .3s, opacity .5s ease .3s;
      transition: transform .5s ease .3s, opacity .5s ease .3s;
      transition: transform .5s ease .3s, opacity .5s ease .3s, -webkit-transform .5s ease .3s; }
    .card .content.step1Show .title h1,
    .card .content.step1Show .title .word {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      opacity: 1; }
    .card .content.step1Show .step1 .btn {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      opacity: 1; }
    .card .content.step2Show .step2 {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }
      .card .content.step2Show .step2 .cardBox .left .left_cloud {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0); }
      .card .content.step2Show .step2 .right_cloud {
        opacity: 1;
        -webkit-transform: rotateX(180deg) rotateY(180deg) translateX(0);
        transform: rotateX(180deg) rotateY(180deg) translateX(0); }
      .card .content.step2Show .step2 .btn a {
        opacity: 1; }
    .card .content.step3Show .title p.join span:after {
      width: 100%; }
    .card .content.step3Show .step3 .handBox .hand .lefthand {
      -webkit-transform: translate(-40%, -15%);
      -ms-transform: translate(-40%, -15%);
      transform: translate(-40%, -15%); }
      .card .content.step3Show .step3 .handBox .hand .lefthand .left {
        background-color: rgba(255, 255, 255, 0.8); }
      .card .content.step3Show .step3 .handBox .hand .lefthand .right {
        background: rgba(255, 255, 0, 0.8); }
    .card .content.step3Show .step3 .handBox .hand .righthand {
      -webkit-transform: translate(30%, 35%);
      -ms-transform: translate(30%, 35%);
      transform: translate(30%, 35%); }
    .card .content.step3Show .step3 .handBox .hand .btn {
      opacity: 1;
      top: 0;
      -webkit-transform: translate(0, 550%);
      -ms-transform: translate(0, 550%);
      transform: translate(0, 550%); }
      .card .content.step3Show .step3 .handBox .hand .btn a {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0); }
    @media screen and (max-width: 1680px) {
      .card .content .step3 .handBox .hand .lefthand {
        max-width: 448px;
        max-height: 274.75px; }
        .card .content .step3 .handBox .hand .lefthand .left .main .logo {
          width: 78.75px; }
        .card .content .step3 .handBox .hand .lefthand .right .picture {
          width: 87.5px;
          height: 87.5px;
          top: 13.125%; }
        .card .content .step3 .handBox .hand .lefthand .right .name {
          font-size: 24.5px; }
      .card .content .step3 .handBox .hand .righthand {
        max-width: 448px;
        max-height: 274.75px; }
      .card .content.step3Show .step3 .handBox .hand .btn {
        -webkit-transform: translate(0, 520%);
        -ms-transform: translate(0, 520%);
        transform: translate(0, 520%); } }
    @media screen and (max-width: 1440px) {
      .card .content .step3 .handBox .hand .lefthand {
        max-width: 368.64px;
        max-height: 226.08px; }
      .card .content .step3 .handBox .hand .righthand {
        max-width: 368.64px;
        max-height: 226.08px; }
      .card .content.step3Show .step3 .handBox .hand .btn {
        -webkit-transform: translate(0, 450%);
        -ms-transform: translate(0, 450%);
        transform: translate(0, 450%); } }
    @media screen and (max-width: 1366px) {
      .card .content .title {
        margin: 0 auto; }
        .card .content .title h1 {
          width: 85%;
          margin: 0 auto;
          margin-top: 20px; }
        .card .content .title p.word {
          margin: 10px 0 20px; }
        .card .content .title p.join {
          margin-top: 0;
          margin-bottom: 15px; }
      .card .content .step2 .cardBox .right .inputBox {
        padding: 5% 10% 4%; }
      .card .content .step3 .handBox .hand {
        margin-top: 30px; }
        .card .content .step3 .handBox .hand .lefthand {
          max-width: 364.26667px;
          max-height: 212.22802px; }
          .card .content .step3 .handBox .hand .lefthand .left .main {
            padding-left: 21.34375px; }
            .card .content .step3 .handBox .hand .lefthand .left .main .word {
              top: 17.5%; }
              .card .content .step3 .handBox .hand .lefthand .left .main .word .card_title {
                font-size: 1.22187rem; }
              .card .content .step3 .handBox .hand .lefthand .left .main .word .email {
                font-size: 0.74375rem; }
            .card .content .step3 .handBox .hand .lefthand .left .main .logo {
              bottom: 21.34375px;
              width: 64.03125px; }
          .card .content .step3 .handBox .hand .lefthand .right .picture {
            width: 71.14583px;
            height: 71.14583px;
            top: 10.67188%; }
          .card .content .step3 .handBox .hand .lefthand .right .name {
            font-size: 19.92083px; }
        .card .content .step3 .handBox .hand .righthand {
          max-width: 364.26667px;
          max-height: 212.22802px; }
          .card .content .step3 .handBox .hand .righthand .main {
            margin-left: 24.90104px;
            top: 30%; }
            .card .content .step3 .handBox .hand .righthand .main .career {
              font-size: 1.22187rem; }
              .card .content .step3 .handBox .hand .righthand .main .career:after {
                height: 12px; }
            .card .content .step3 .handBox .hand .righthand .main .email {
              font-size: 0.74375rem;
              margin: 5px 0; }
      .card .content .step3 .handBox.show .hand .lefthand {
        -webkit-transform: translate(-40%, -10%);
        -ms-transform: translate(-40%, -10%);
        transform: translate(-40%, -10%); }
      .card .content .step3 .handBox.show .hand .righthand {
        -webkit-transform: translate(30%, 30%);
        -ms-transform: translate(30%, 30%);
        transform: translate(30%, 30%); }
      .card .content .step3 .handBox.show .hand .btn {
        -webkit-transform: translate(0, 520%);
        -ms-transform: translate(0, 520%);
        transform: translate(0, 520%); }
      .card .content.step3Show .step3 .handBox .hand .lefthand {
        -webkit-transform: translate(-40%, -10%);
        -ms-transform: translate(-40%, -10%);
        transform: translate(-40%, -10%); }
      .card .content.step3Show .step3 .handBox .hand .righthand {
        -webkit-transform: translate(30%, 35%);
        -ms-transform: translate(30%, 35%);
        transform: translate(30%, 35%); } }
    @media screen and (max-width: 1280px) {
      .card .content.step3Show .step3 .handBox .hand .btn {
        -webkit-transform: translate(0, 435%);
        -ms-transform: translate(0, 435%);
        transform: translate(0, 435%); } }
    @media screen and (max-width: 1024px) {
      .card .content .title {
        width: 45%; }
        .card .content .title h1 {
          margin-top: 30px; }
        .card .content .title p.word {
          margin: 10px 0 15px;
          font-size: 16px; }
          .card .content .title p.word span {
            display: block; }
      .card .content .step1 .btn {
        margin-top: 10px; }
        .card .content .step1 .btn a {
          font-size: 1.0625rem; }
      .card .content .step2 {
        top: 20px; }
        .card .content .step2 .cardBox .right .inputBox {
          padding: 7.5% 10% 10%; }
      .card .content .step3 .handBox .hand {
        margin-top: 40px; }
        .card .content .step3 .handBox .hand .lefthand {
          width: 40%;
          height: 60%;
          max-height: 225px;
          border-radius: 5px; }
          .card .content .step3 .handBox .hand .lefthand .left {
            border-radius: 5px 0 0 5px; }
            .card .content .step3 .handBox .hand .lefthand .left .main .logo {
              width: 70px;
              bottom: 20px; }
          .card .content .step3 .handBox .hand .lefthand .right {
            border-radius: 0 5px 5px 0; }
            .card .content .step3 .handBox .hand .lefthand .right .picture {
              width: 90px;
              height: 90px;
              padding: 10px;
              top: 8%; }
        .card .content .step3 .handBox .hand .righthand {
          width: 40%;
          height: 60%;
          max-height: 225px;
          border-radius: 5px; }
          .card .content .step3 .handBox .hand .righthand .main {
            margin-left: 20px;
            top: 27.5%; }
      .card .content.step3Show .step3 .handBox .hand .lefthand {
        -webkit-transform: translate(-40%, -10%);
        -ms-transform: translate(-40%, -10%);
        transform: translate(-40%, -10%); }
      .card .content.step3Show .step3 .handBox .hand .righthand {
        -webkit-transform: translate(30%, 40%);
        -ms-transform: translate(30%, 40%);
        transform: translate(30%, 40%); }
      .card .content.step3Show .step3 .handBox .hand .btn {
        margin-top: 10px;
        -webkit-transform: translate(-106%, 316%);
        -ms-transform: translate(-106%, 316%);
        transform: translate(-106%, 316%);
        margin: 0;
        width: 23%; }
        .card .content.step3Show .step3 .handBox .hand .btn a {
          width: 100%; } }
    @media screen and (max-width: 767px) {
      .card .content .bg1 {
        background: url(../img/namecard_bg_m1.jpg) center center no-repeat;
        background-size: cover; }
      .card .content .bg2 {
        background: url(../img/namecard_bg_m2.jpg) center center no-repeat;
        background-size: cover; }
        .card .content .bg2 .dot_rt,
        .card .content .bg2 .dot_rb,
        .card .content .bg2 .dot_left {
          display: none; }
      .card .content .title {
        width: 85%; }
        .card .content .title h1 {
          margin-top: 15px; }
        .card .content .title p.word {
          margin: 5px 0 10px; }
      .card .content .step1 {
        padding-top: 15px; }
      .card .content .step2 .cardBox {
        -webkit-box-flex: 5;
        -webkit-flex: 5;
        -ms-flex: 5;
        flex: 5;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 90%;
        border-radius: 30px; }
        .card .content .step2 .cardBox .left {
          -webkit-box-flex: 20;
          -webkit-flex: 20;
          -ms-flex: 20;
          flex: 20;
          border-radius: 30px 30px 0 0; }
          .card .content .step2 .cardBox .left .imgBox {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: end;
            -webkit-align-items: flex-end;
            -ms-flex-align: end;
            align-items: flex-end;
            width: 100%;
            padding: 0;
            min-height: 50px; }
            .card .content .step2 .cardBox .left .imgBox img {
              width: 20%;
              margin-bottom: -6.66667%; }
          .card .content .step2 .cardBox .left .left_cloud {
            display: none; }
        .card .content .step2 .cardBox .right {
          -webkit-box-flex: 80;
          -webkit-flex: 80;
          -ms-flex: 80;
          flex: 80;
          border-radius: 0 0 30px 30px;
          display: inline-block; }
          .card .content .step2 .cardBox .right .dreamBox {
            margin-bottom: 1%; }
            .card .content .step2 .cardBox .right .dreamBox .career ul {
              font-size: 14px;
              z-index: 407; }
          .card .content .step2 .cardBox .right .btnBox {
            padding-left: 0px; }
            .card .content .step2 .cardBox .right .btnBox .random {
              margin-top: 25px;
              font-size: 14px; }
      .card .content .step2 .btn {
        -webkit-box-flex: 2;
        -webkit-flex: 2;
        -ms-flex: 2;
        flex: 2;
        margin-top: 10px;
        margin-bottom: 30px; }
        .card .content .step2 .btn a {
          -webkit-transition-delay: .85s;
          -o-transition-delay: .85s;
          transition-delay: .85s; }
        .card .content .step2 .btn .hand {
          display: none; }
      .card .content .step2 .right_cloud {
        display: none; }
      .card .content .step3 .handBox .hand {
        margin-top: 50px; }
        .card .content .step3 .handBox .hand .lefthand {
          width: 80%;
          max-width: 375px;
          height: 40%;
          min-height: 180px;
          border-radius: 5px; }
          .card .content .step3 .handBox .hand .lefthand .left {
            border-radius: 5px 0 0 5px; }
            .card .content .step3 .handBox .hand .lefthand .left .main .word .card_title {
              font-size: 1.11563rem; }
            .card .content .step3 .handBox .hand .lefthand .left .main .logo {
              bottom: 15px;
              width: 60px; }
          .card .content .step3 .handBox .hand .lefthand .right {
            border-radius: 0 5px 5px 0; }
            .card .content .step3 .handBox .hand .lefthand .right .picture {
              width: 85px;
              height: 85px;
              padding: 10px;
              top: 8%; }
        .card .content .step3 .handBox .hand .righthand {
          width: 80%;
          max-width: 375px;
          height: 40%;
          min-height: 180px;
          border-radius: 5px; }
          .card .content .step3 .handBox .hand .righthand .main {
            margin-left: 15px;
            top: 25%; }
            .card .content .step3 .handBox .hand .righthand .main .career {
              font-size: 1.11563rem; }
              .card .content .step3 .handBox .hand .righthand .main .career:after {
                height: 8px; }
            .card .content .step3 .handBox .hand .righthand .main .email {
              margin: 5px 0; }
        .card .content .step3 .handBox .hand .btn {
          width: 100%;
          -webkit-transform: translateY(100%);
          -ms-transform: translateY(100%);
          transform: translateY(100%); }
      .card .content .step3 .handBox.show .hand .lefthand {
        -webkit-transform: translate(-7%, -18%);
        -ms-transform: translate(-7%, -18%);
        transform: translate(-7%, -18%); }
      .card .content .step3 .handBox.show .hand .righthand {
        -webkit-transform: translate(9%, 40%);
        -ms-transform: translate(9%, 40%);
        transform: translate(9%, 40%); }
      .card .content .step3 .handBox.show .hand .btn {
        width: 220px;
        -webkit-transform: translateY(490%);
        -ms-transform: translateY(490%);
        transform: translateY(490%); }
      .card .content.step3Show .step3 .handBox .hand .lefthand {
        -webkit-transform: translate(-7%, -18%);
        -ms-transform: translate(-7%, -18%);
        transform: translate(-7%, -18%); }
      .card .content.step3Show .step3 .handBox .hand .righthand {
        -webkit-transform: translate(9%, 40%);
        -ms-transform: translate(9%, 40%);
        transform: translate(9%, 40%); }
      .card .content.step3Show .step3 .handBox .hand .btn {
        -webkit-transform: translateY(495%);
        -ms-transform: translateY(495%);
        transform: translateY(495%);
        width: 220px; } }
    @media screen and (max-width: 413px) {
      .card .content .title p.word {
        margin: 5px 0 5px; }
      .card .content .title p.join span {
        width: 65%;
        display: block;
        margin: 0 auto;
        margin-top: 5px; }
        .card .content .title p.join span:after {
          text-align: left;
          bottom: -2px; }
      .card .content .step1 {
        padding-top: 0; }
      .card .content .step2 .cardBox {
        -webkit-box-flex: 8;
        -webkit-flex: 8;
        -ms-flex: 8;
        flex: 8; }
        .card .content .step2 .cardBox .right .inputBox {
          padding-top: 4%; }
          .card .content .step2 .cardBox .right .inputBox .random {
            margin-top: 20px; }
      .card .content .step2 .btn {
        -webkit-box-flex: 3.5;
        -webkit-flex: 3.5;
        -ms-flex: 3.5;
        flex: 3.5; }
        .card .content .step2 .btn .hand {
          margin-top: -60px; }
      .card .content .step3 .handBox .hand {
        margin-top: 35px; }
        .card .content .step3 .handBox .hand .lefthand .right .picture {
          margin-bottom: 65%;
          top: 6%; }
        .card .content .step3 .handBox .hand .lefthand .right .name {
          font-size: 1.0625rem; }
        .card .content .step3 .handBox .hand .btn {
          width: 100%;
          -webkit-transform: translateY(100%);
          -ms-transform: translateY(100%);
          transform: translateY(100%); }
      .card .content.step3Show .step3 .handBox .hand .btn {
        -webkit-transform: translateY(545%);
        -ms-transform: translateY(545%);
        transform: translateY(545%); } }
    @media only screen and (max-width: 375px) {
      .card .content .card .content .step2 .btn a {
        margin-top: 0; } }
    @media screen and (max-width: 374px) {
      .card .content .title {
        width: 80%; }
        .card .content .title h1 {
          margin-top: 15px; }
        .card .content .title p.word {
          font-size: 13px;
          margin: -5px 0 0; }
        .card .content .title p.join {
          font-size: 13px;
          margin-top: 0;
          margin-bottom: -10px; }
      .card .content .step2 .cardBox {
        -webkit-box-flex: 2;
        -webkit-flex: 2;
        -ms-flex: 2;
        flex: 2;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 90%;
        display: inline-block; }
        .card .content .step2 .cardBox .left {
          -webkit-box-flex: 20;
          -webkit-flex: 20;
          -ms-flex: 20;
          flex: 20; }
          .card .content .step2 .cardBox .left .imgBox {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: end;
            -webkit-align-items: flex-end;
            -ms-flex-align: end;
            align-items: flex-end;
            width: 100%;
            padding: 0; }
            .card .content .step2 .cardBox .left .imgBox img {
              width: 20%;
              margin-bottom: -6.66667%; }
        .card .content .step2 .cardBox .right {
          -webkit-box-flex: 80;
          -webkit-flex: 80;
          -ms-flex: 80;
          flex: 80; }
          .card .content .step2 .cardBox .right .inputBox {
            padding: 2% 7%; }
          .card .content .step2 .cardBox .right .dreamBox {
            margin-bottom: 1%; }
            .card .content .step2 .cardBox .right .dreamBox .career ul {
              font-size: 14px;
              z-index: 407; }
          .card .content .step2 .cardBox .right .btnBox .random {
            margin-top: 10px; }
            .card .content .step2 .cardBox .right .btnBox .random img {
              width: 30px; }
            .card .content .step2 .cardBox .right .btnBox .random span {
              font-size: 14px; }
      .card .content .step2 .btn {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        margin-top: 5px; }
        .card .content .step2 .btn .hand {
          margin-top: -54px; }
      .card .content .step3 .handBox .hand {
        top: 20px; }
        .card .content .step3 .handBox .hand .lefthand {
          width: 80%;
          height: 40%;
          max-height: 150px;
          min-height: 135px;
          border-radius: 5px; }
          .card .content .step3 .handBox .hand .lefthand .left {
            border-radius: 5px 0 0 5px; }
            .card .content .step3 .handBox .hand .lefthand .left .main {
              padding-left: 15px; }
              .card .content .step3 .handBox .hand .lefthand .left .main .word {
                top: 20px; }
                .card .content .step3 .handBox .hand .lefthand .left .main .word .card_title {
                  font-size: 14px; }
                .card .content .step3 .handBox .hand .lefthand .left .main .word .email {
                  font-size: 10px; }
              .card .content .step3 .handBox .hand .lefthand .left .main .logo {
                bottom: 15px;
                width: 50px; }
          .card .content .step3 .handBox .hand .lefthand .right {
            border-radius: 0 5px 5px 0; }
            .card .content .step3 .handBox .hand .lefthand .right .picture {
              width: 75px;
              height: 75px;
              padding: 10px;
              top: 3.23438%; }
            .card .content .step3 .handBox .hand .lefthand .right .name {
              font-size: 0.90312rem; }
        .card .content .step3 .handBox .hand .righthand {
          width: 80%;
          height: 40%;
          max-height: 150px;
          min-height: 135px;
          border-radius: 5px; }
          .card .content .step3 .handBox .hand .righthand .main {
            margin-left: 15px;
            top: 30%; }
            .card .content .step3 .handBox .hand .righthand .main .career {
              font-size: 14px; }
              .card .content .step3 .handBox .hand .righthand .main .career:after {
                height: 8px; }
            .card .content .step3 .handBox .hand .righthand .main .email {
              font-size: 10px;
              margin: 5px 0; }
        .card .content .step3 .handBox .hand .btn {
          -webkit-transform: translateY(100%);
          -ms-transform: translateY(100%);
          transform: translateY(100%); } }
    @media only screen and (max-width: 374px) and (max-height: 760px) {
      .card .content .step3 .handBox .hand .btn {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0); } }
    @media screen and (max-width: 374px) {
      .card .content.step3Show .step3 .handBox .hand .lefthand {
        -webkit-transform: translate(-7%, -18%);
        -ms-transform: translate(-7%, -18%);
        transform: translate(-7%, -18%); }
      .card .content.step3Show .step3 .handBox .hand .righthand {
        -webkit-transform: translate(9%, 35%);
        -ms-transform: translate(9%, 35%);
        transform: translate(9%, 35%); }
      .card .content.step3Show .step3 .handBox .hand .btn {
        -webkit-transform: translateY(370%);
        -ms-transform: translateY(370%);
        transform: translateY(370%); } }
    @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
      .card .content .step2 .cardBox {
        -webkit-box-flex: initial;
        -webkit-flex: initial;
        -ms-flex: initial;
        flex: initial;
        width: 95%; }
      .card .content .step2 .btn {
        -webkit-box-flex: initial;
        -webkit-flex: initial;
        -ms-flex: initial;
        flex: initial;
        margin-top: 40px; }
        .card .content .step2 .btn .hand {
          width: 120%;
          margin-top: -94px; }
      .card .content .step3 .handBox .hand .lefthand {
        width: 85%;
        height: 200px; }
      .card .content .step3 .handBox .hand .righthand {
        width: 85%;
        height: 200px; }
      .card .content .step3 .handBox .hand .btn {
        width: 100%; }
      .card .content.step3Show .step3 .handBox .hand .lefthand {
        -webkit-transform: translate(-6%, -7%);
        -ms-transform: translate(-6%, -7%);
        transform: translate(-6%, -7%); }
      .card .content.step3Show .step3 .handBox .hand .righthand {
        -webkit-transform: translate(6%, 48%);
        -ms-transform: translate(6%, 48%);
        transform: translate(6%, 48%); }
      .card .content.step3Show .step3 .handBox .hand .btn {
        -webkit-transform: translateY(555%);
        -ms-transform: translateY(555%);
        transform: translateY(555%); } }

form .share_pic img {
  width: inherit;
  opacity: 0;
  position: absolute; }
