@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

body, html {
  width: 100%;
}

.bg_green {
  background: #01883f;
}

.bg_white {
  background-color: #fff;
}

.bg_grey {
  background: #f2f2f2;
}

.bg_yellow {
  background-color: #fff654;
}

.f_white {
  color: #fff;
}

.f_yellow {
  color: #fff654;
}

.f_green {
  color: #01883f;
}

.f_grey {
  color: #333;
}

.f13 {
  font-size: 13px;
}

.f14 {
  font-size: 14px;
}

.f16 {
  font-size: 16px;
}

.f18 {
  font-size: 18px;
}

.f19 {
  font-size: 19px;
}

.f24 {
  font-size: 24px;
}

.f27 {
  font-size: 27px;
}

.f40 {
  font-size: 40px;
}

.f43 {
  font-size: 43px;
}

.abs {
  position: absolute;
}

.fix {
  position: fixed;
}

.W100 {
  width: 100%;
}

.W50 {
  width: 50%;
}

.W1040 {
  max-width: 1040px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.r50 {
  border-radius: 50%;
}

.btn {
  padding: 30px 100px;
  display: inline-block;
  line-height: 1;
}

.icon_bg {
  background-repeat: no-repeat;
  background-position: left center;
}

* {
  webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  outline: none;
}

*:focus {
  outline: none;
}

#wrappper {
  text-align: center;
  padding: 0;
}

#wrappper > div {
  padding-left: 15px;
  padding-right: 15px;
}

#game {
  padding: 140px 0 90px;
  display: inline-block;
}

#game > .draw {
  top: 50px;
  left: -40px;
  width: 20%;
  max-width: 140px;
  font-size: 16px;
  white-space: nowrap;
}

#game > .draw p {
  right: 0;
  top: 50%;
}

#game > .draw .w1 {
  transform: translate(95%, -50px) rotate(-10deg);
}

#game > .draw .w2 {
  transform: translate(100%, -20px) rotate(0);
}

#game > .draw .w3 {
  transform: translate(95%, 10px) rotate(6deg);
}

#game h2 {
  letter-spacing: 2.4px;
  position: relative;
}

#game h2 span {
  position: relative;
}

#game h2 font {
  font-family: Roboto;
  color: #eeeded;
  font-size: 110px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
}

#game .select_area {
  display: inline-block;
}

#game .select_area .W50 {
  float: left;
}

#game .select_area .icon {
  display: block;
  margin: 60px auto;
  cursor: pointer;
  width: 125px;
  height: 125px;
  opacity: .3;
  filter: grayscale(100%);
}

#game .select_area .icon:hover {
  filter: grayscale(0);
  opacity: 1;
}

#game .select_area .icon.choose {
  filter: grayscale(0);
  opacity: 1;
}

#game .select_area .draw {
  max-width: 100%;
  display: block;
  margin: 40px auto 0;
}

#game .progress {
  position: relative;
  max-width: 200px;
  margin: 50px auto;
  height: 10px;
}

#game .progress div.f_green {
  left: -85px;
  top: -15px;
}

#game .progress .dash {
  width: 200px;
}

#game .progress .dash p {
  background: #cbcbcb;
  height: 1px;
  width: 30px;
  margin: 0 7.5px;
  float: left;
  transition: all .4s;
}

#game .progress .dash p.done {
  margin-top: -1px;
  height: 3px;
  width: 50px;
  background: #01883f;
}

#game .progress .quart {
  width: 41px;
  height: 41px;
  background-color: #01883f;
  right: -60px;
  top: -20px;
  padding: 14px 0 0 12px;
  font-weight: lighter;
}

#game .progress .quart .f_yellow {
  top: 3px;
  left: 10px;
}

#game .progress .quart .f_yellow:after {
  content: '/';
  position: absolute;
  right: -6px;
  bottom: -2px;
  font-size: 10px;
  transform: rotate(11deg);
}

#game .btn {
  border: solid 1px #01883f;
  float: none;
  clear: both;
}

#result {
  position: relative;
  padding: 90px 10px;
  display: inline-block;
}

#result:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -35px);
  height: 70px;
  width: 1px;
  background-color: #01883f;
}

#result .analysis {
  position: relative;
  margin: 60px auto;
  display: inline-block;
}

#result .analysis .bg_green {
  position: relative;
  padding: 35px 60px;
  width: 68%;
  float: left;
  min-height: 150px;
  border-bottom-left-radius: 30px;
  text-align: left;
}

#result .analysis .bg_green ul, #result .analysis .bg_green h5 {
  padding-left: 25%;
}

#result .analysis .bg_green h5:after {
  content: '';
  display: block;
  width: 105px;
  height: 5px;
  background-color: #fff43c;
  margin: 30px 0;
}

#result .analysis .bg_green .people {
  width: 25%;
  top: 0;
  left: 0;
  transform: translate(-10%, -15%);
  max-width: 170px;
}

#result .analysis .bg_white {
  border-top-left-radius: 30px;
  width: 40%;
  right: 0;
  top: 0;
  transform: translate(0, 20%);
  padding: 85px 40px 75px;
  text-align: left;
}

#result .analysis .bg_white:after {
  content: '“';
  font-size: 100px;
  color: #01883f;
  position: absolute;
  line-height: 1;
  top: 30px;
  left: 25px;
  font-family: sans-serif;
  font-weight: 900;
}

#result .analysis .bg_white .people {
  width: 25%;
  bottom: 0;
  right: 0;
  transform: translate(60%, 45%);
  max-width: 170px;
}

#result .analysis li {
  line-height: 44px;
  margin-bottom: 15px;
  padding-left: 53px;
  background-image: url(../img/golden/option_correct._yellow.svg);
  background-repeat: no-repeat;
  background-position: left center;
  width: 50%;
  display: inline-block;
}

#intro {
  background-color: #fff;
  padding: 100px 0 110px;
  display: inline-block;
}

#intro h2 {
  margin-bottom: 105px;
}

#intro h2 font {
  display: block;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#intro .bg_green {
  position: relative;
  padding: 40px 45px;
  width: 48%;
  float: left;
  border-bottom-right-radius: 30px;
  text-align: left;
}

#intro .bg_green h5:after {
  content: '';
  display: block;
  width: 105px;
  height: 5px;
  background-color: #fff43c;
  margin: 30px 0;
}

#intro .bg_green > img {
  width: 35%;
  right: 0;
  top: 0;
  transform: translate(-20%, -30%);
}

#intro .bg_yellow {
  position: relative;
  padding: 40px 45px;
  width: 48%;
  float: right;
  border-bottom-right-radius: 30px;
  text-align: left;
  margin-top: 40px;
}

#intro .bg_yellow h5 {
  color: #01883f;
}

#intro .bg_yellow h5:after {
  content: '';
  display: block;
  width: 105px;
  height: 5px;
  background-color: #01883f;
  margin: 30px 0;
}

#intro .bg_yellow > img {
  width: 35%;
  right: 0;
  top: 0;
  transform: translate(-20%, -30%);
}

#intro .bg_yellow li:before {
  background-color: #01883f;
}

#intro li {
  line-height: 2;
  padding-left: 15px;
  position: relative;
}

#intro li:before {
  position: absolute;
  left: 0;
  top: 40%;
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: inline-block;
  background-color: #fff43c;
}
