@import "setting.scss";
@import "mixin.scss";

#wrappper{
    text-align: center;
    padding: 0;
   
    >div{
        padding-left:15px;
        padding-right:15px;
        vertical-align: -webkit-baseline-middle;
        
    }
    h2.title{
        &:before{
            @include triangle;
            left: 0;
            top: 0;
            border-width: 14px 14px 0 0;
            border-color: #fff53c transparent transparent transparent;
           
        }
        &:after{
            @include triangle;
            right: 0;
            bottom: 0;
            border-width: 0 0 14px 14px;
            border-color: transparent transparent #fff53c transparent;
        }

    }
}
#game {
    padding: 140px 0 90px;
    display: inline-block;
    @media only screen and (max-width: 516px)  {
        padding: 190px 0 90px;
    }
    >.draw{
        top: 50px;
        left: -40px;
        width: 20%;
        max-width: 140px;
        font-size: 16px;
        white-space: nowrap;
        @media only screen and (max-width: 516px)  {
        }
        img{
            @media only screen and (max-width: 516px)  {
                transform: rotate(-25deg) translate(-10px, -20px);
            }
        }
        p {
            right: 0;
            top: 50%;
        }
        .w1 {
            transform: translate(95%,-50px) rotate(-10deg);
        }
        .w2 {
            transform: translate(100%,-20px) rotate(0);
        }
        .w3 {
            transform: translate(95%,10px) rotate(6deg);
        }
                    
    }
    h2{
        letter-spacing: 2.4px;
        position: relative;
        span{
            position: relative;
        }
        font{
            font-family: Roboto;
            color: #eeeded;
            font-size: 110px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            line-height: 1;
        }
        
    }
    .select_area{
        display: inline-block;
        
        .W50{
            float: left;

        }
        .icon {
            display: block;
            margin: 60px auto;
            cursor: pointer;
            width: 125px;
            height: 125px;
            opacity: .3;
            filter: grayscale(100%);
            @media only screen and (max-width: 516px)  {
                width: 105px;
                height: 105px;
                margin: 50px auto 30px;

            }
            &:hover{
                filter: grayscale(0);
                opacity: 1;
            }
            &.choose{
                filter: grayscale(0);
                opacity: 1;
                
            }
        }

        .draw {
            max-width: 100%;
            display: block;
            margin: 40px auto 0;
            @media only screen and (max-width: 516px)  {
                max-width: 90%;
            }
        }
    }
    .progress{
        position: relative;
        max-width: 200px; 
        margin: 50px auto;
        height: 10px;
        @media only screen and (max-width: 516px)  {
            margin: 70px auto;
        }
        div.f_green{
            left: -85px;
            top: -15px;
            
        }
        .dash{
            width: 200px;
            p{
                background: #cbcbcb;
                height: 1px;
                width: 30px;
                margin: 0 7.5px;
                float: left;
                transition: all .4s;
                &.done{
                    margin-top: -1px;
                    height: 3px;
                    width: 50px;
                    background: #01883f;
                }
            }

        }
        .quart{
            width: 41px;
            height: 41px;
            background-color: #01883f;
            right: -60px;
            top: -20px;
            padding: 14px 0 0 12px;
            font-weight: lighter;
            .f_yellow{
                top: 3px;
                left: 10px;
                &:after{
                    content: '/';
                    position: absolute;
                    right: -6px;
                    bottom: -2px;
                    font-size: 10px;
                    transform: rotate(11deg)
                }
            }
        }

    }
    .btn{
        border: solid 1px #01883f;
        float: none;
        clear: both;
    }
}

#result{
    position: relative;
    padding: 90px 10px;
    display: inline-block;
    @media only screen and (max-width: 516px)  {
        padding: 70px 10px;
    }

    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -35px);
        height: 70px;
        width: 1px;
        background-color: #01883f;
    }
    .analysis{
        position: relative;
        margin: 60px auto;
        display: inline-block;
        @media only screen and (max-width: 516px)  {
            margin: 0 auto 30px;
            
        }
        
        .bg_green {
            position: relative;
            padding: 35px 60px;
            width: 68%;
            float: left;
            min-height: 150px;
            border-bottom-left-radius: 30px;
            text-align: left;
            @media only screen and (max-width: 516px)  {
                width: 94%;
                float: right;
                margin-right:-15px; 
            }
            ul,h5{
                padding-left: 25%;
            }
            h5{
                &:after{
                    content: '';
                    display: block;
                    width: 105px;
                    height: 5px;
                    background-color: #fff43c;
                    margin: 30px 0;
                }
            }

            .people{
                width: 25%;
                top: 0;
                left: 0;
                transform: translate(-10%,-15%);
                max-width: 170px;

            }
        }
        .bg_white {
            border-top-left-radius: 30px;
            width: 40%;
            right: 0;
            top: 0;
            transform: translate(0, 20%);
            padding: 85px 40px 75px;
            text-align: left;
            &:after{
                content: '“';
                // font-size: 125px;
                font-size: 100px;
                color: #01883f;
                position: absolute;
                line-height: 1;
                top: 30px;
                left: 25px;
                font-family: sans-serif;
                font-weight: 900;
            }
            .people{
                width: 25%;
                bottom: 0;
                right: 0;
                transform: translate(60%,45%);
                max-width: 170px;

            }

            
        }
        
        li{
            line-height: 44px;
            margin-bottom: 15px;
            padding-left: 53px;
            background-image: url(../img/golden/option_correct._yellow.svg);
            background-repeat: no-repeat;
            background-position: left center;
            width: 50%;
            display: inline-block;
        }

    }

}
#intro {
    overflow: hidden;
    background-color: #fff;
    padding: 100px 0 110px;
    display: inline-block;
    @media only screen and (max-width: 1024px)  {
        padding: 100px 0 0;
    }
    .people{
        right: 0;
        top: 0;
        &:after{
            content: '';
            display: block;
            position: absolute;
            bottom: 33%;
            right: -2%;
            width: 130%;
            height: 1px;
            transform-origin: right bottom;
            transform: rotate(-45deg) translate(50%,0);

        }
    }
    .bg_green {
        position: relative;
        padding: 40px 45px;
        width: 48%;
        float: left;
        border-bottom-right-radius: 30px;
        text-align: left;
        h5{
            &:after{
                content: '';
                display: block;
                width: 105px;
                height: 5px;
                background-color: #fff43c;
                margin: 30px 0;
            }
        }
        .people{
            width: 32%; 
            transform: translate(-20%,-35%);
            @media only screen and (max-width: 1024px)  {
                width: 30%;
                transform: translate(-20%,-30%);
            }

            &:after{
                background-color: #fff654;
            }
        }
        
    }
    .bg_yellow {
        position: relative;
        padding: 40px 45px;
        width: 48%;
        float: right;
        border-bottom-right-radius: 30px;
        text-align: left;
        margin-top: 60px;
        h5{
            color: #01883f;
            &:after{
                content: '';
                display: block;
                width: 105px;
                height: 5px;
                background-color: #01883f;
                margin: 30px 0;
    
            }
        }
        .people{
            width: 30%;
            transform: translate(-20%,-35%);
            @media only screen and (max-width: 1024px)  {
                width: 27%;
                transform: translate(-20%,-30%);
            }
            &:after{
                background-color: #01883f;
                bottom: 31%;
                right: 5%;
            }
        }
        li{
            &:before{
                background-color: #01883f;
            }
        }
        
    }
    li{
        line-height: 2;
        padding-left: 15px;
        position: relative;
        &:before{
            position: absolute;
            left: 0;
            top: 40%;
            content: '';
            width: 5px;
            height: 5px;
            border-radius: 50%;
            display: inline-block;
            background-color: #fff43c;
            
        }
        
    }
}

#career {
    overflow: hidden;
    background-color: #fff;
    padding: 100px 0 110px;
    display: inline-block;
   
    .W50{
        padding-left: 10%;
        float: left;
        @media only screen and (max-width: 1024px)  {
            padding-left: 5%;
        }
        .people{
            width: 100%;
            position: relative;
            display: inline-block;
            img{
                max-width: 220px;
                float: left;
                margin-left: -8%;
                z-index: 80;
                position: relative;
            }
            &:before{
                position: absolute;
                top: 120px;
                content: '';
                width: 100vw;
                height: 160px;
                transform: skew(-45deg);
                @media only screen and (max-width: 1024px)  {
                    top: 85px;
                    height: 105px;
                    
                }
            }
            
        }
        

        .des{
            width: fit-content;
            display: inline-block;
            text-align: left;
            bottom: 0;
            left: 24%;
            z-index: 95;
            
            p{
                display: block;
                line-height: 1.5;
            }
            h3{
                line-height: 1.1;
                padding-bottom: 10px;
                letter-spacing: 3px;
                position: relative;
            }
            

        }

        ul{
            text-align: left; 
            margin-top: 20px;
        }
       
        li{
            position: relative;
            padding: 30px 0;
            padding-left: 24%;
            border-bottom: 1px solid #c5c5c5;
            @media only screen and (max-width: 1024px)  {
                padding-left: 70px;
            }
            &:last-child{
                border-bottom: none;
            
            }
            font{
                display: block;
                font-weight: bold;
            }
            >img{
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0,-50%);
                @media only screen and (max-width: 1024px)  {
                    transform: translate(-10%,-50%) scale(.7);
                }
            }
         
            h6{
                padding: 5px;
                width: 22px;
                top: 50%;
                right: 0;
                transform: translate(0, -50%);
                line-height: 1.4;
                font-size: 13px;
                @media only screen and (max-width: 1024px)  {
                    right: 10px;
                }
                img{
                    top: -17px;
                    width: 30px;
                    margin-left: -8px;
                }
                &.opa_4{
                    opacity: .4;
                }
                &.opa_7{
                    opacity: .7;
                }
            }
        }

        &.sa {

            .people{
                padding-bottom: 60px;
                img{
                    max-width: 220px;
                }
                &:before{
                    right: 46%;
                    background: #01883f;
                }
                @media only screen and (max-width: 1024px)  {
                    img{
                        max-width: 160px;
                        margin-left: -5%;
                    }
                    &:before{
                        right: 46%;
                        background: #01883f;
                    }
                }
                
            }
            // .des{
            //     left: 35%;
            // }
            
        }
        &.pma {
            margin-top: 100px;
            .people{
                padding-bottom: 30px;
                img{
                    max-width: 190px;
                    @media only screen and (max-width: 1024px)  {
                        max-width: 140px;
                        margin-left: -5%;
                    }
                }
                &:before{
                    left: 22%;
                    background: #fff43c;
                }
                @media only screen and (max-width: 1024px)  {
                    padding-bottom: 50px;
                }
               
            }
        
            li{
                @media only screen and (max-width: 1024px)  {
                    padding-right: 45px;
                }
                >img{
                    transform: scale(.95)  translate(0,-50%);
                    @media only screen and (max-width: 1024px)  {
                        transform: scale(0.6) translate(-25%, -80%);
                    }
                }
            }
            
            // .des{
            //     left: 20%;
            // }
        }
        

        

    }
    .btn{
        margin-top: 50px;
        background-color: #07aa41;
        
    }
}

#training{
    overflow: hidden;
    padding: 120px 0 220px;
    @media only screen and (max-width: 1024px)  {
        padding: 120px 0 250px;
    }
    h2.title{
        &:before{
            border-color:  #01883f transparent transparent transparent;
           
        }
        &:after{
            border-color: transparent transparent  #01883f transparent;
        }

    }
    .W1040{
        position: relative;
        .people{
            z-index: 2;
            @media only screen and (max-width: 1024px)  {
                display: none;
            }
        }
        .p1{
            width: 16%;
            max-width: 178px;
            top: 0;
            left: 0;
            transform: translate(-50%, -30%);

        }
        .p2{
            width: 20%;
            max-width: 290px;
            bottom: -50px;
            right: 0;
            transform: translate(60%, -10%);
        }
    }
    .content {
        position: relative;
        z-index: 3;
        @media only screen and (max-width: 1024px)  {
            margin-top: 20px;
        }

    }
    
    .tab_area{
        width: 100%;
        padding-left: 30%;
        padding-right: 5%;
        display: inline-block;
        .tab{
            margin-top: -30px;
            width: 50%;
            float: left;
            position: relative;
            text-align: center;
            span{
                top: 50%;
                left: 0;
                transform: translate(0, -70%);
                display:block;
                width: 100%;
            }
        }
        svg{
            width: 100%;
        }
        .st0{
            fill:#01883f;
            stroke:#01883f;
            stroke-miterlimit:10;
    
        }
        .st1{
            fill:#FFFFFF;
            stroke:#01883f;
            stroke-miterlimit:10;
    
        }
    }
    .detail{
        padding: 25px 5% 105px 25px;
    }
    ul{
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid #c5c5c5;
        padding: 20px 10px;
        position: relative;
        .plus{
            &:before{
                content: '＋';
                font-weight: bold;
                position: absolute;
                background-color: #fff43c;
                color: #01883f;
                // transform: scale(2);
                font-size: 25px;
                top: -15px;
                left: -15px;
                width: 35px;
                height: 35px;
                line-height: 35px;
                border-radius: 50%;
            }
            width: 30%;
            max-width: 230px;;
            bottom: 0;
            right: 2%;
            padding: 20px;
            transform: translate(-10%, 80%);
            background-color: #fff43c;
            border-bottom-right-radius: 30px;
            h5{
                color: #01883f;
                padding-bottom: 5px;
            }
        }
    }
    li{
        width: 35%;
        float: left;
        padding: 10px;
        font{
            display: block;
        } 
        &:first-child{
            width: 30%;
        
        }
        
    }
    .bottom_info{
        bottom: 0;
        transform: translate(0,250%);
        left: 25%;
        display: inline-block;
        @media only screen and (max-width: 1024px)  {
            transform: translate(0, 145%);
            left: 20%;
        }
        div{
            width: 38%;
            float: left;
            position: relative;
            p {
                display: block;
                padding-left: 110px;
                text-align: left;
                padding-right:10px; 
            }
            img{
                width: 95px;
                left: 0;
                top: 50%;
                transform: translate(0,-50%);
            }
        }
    }
    
    
}

#promotion{
    padding: 80px 0 90px;
    overflow: hidden;
    background-image: url(../img/golden/img_bg_resource.jpg);
    @include bg-cover;
    
    @media only screen and (max-width: 1024px)  {
        padding: 170px 0 90px;
        overflow: visible;
        background-position: 25%;
    }
    >div{
        position: relative;
        height: 550px;
        @media only screen and (max-width: 1024px)  {
            height: 690px;
        }
        @media only screen and (max-width: 516px)  {
            height: inherit;
        }
    }
    .bg_yellow.abs{
        top: -60px;
        left: 10px;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        padding: 35px 0;
        z-index: 90;
        @media only screen and (max-width: 1024px)  {
            padding: 130px 0 0 50px;
            width: 240px;
            height: 240px;
            left: 50%;
            top: -325px;
            transform: translate(-50%, -50%);

        
        }
        // letter-spacing: 1px;
        img{
            width: 100px;
            top: 50%;
            left: 0;
            transform: translate(-65%, -50%);
            @media only screen and (max-width: 1024px)  {
                transform: translate(-15%, -30%);
        
            }
        }
        
        *{
            display: block;
            line-height: 1.3;
        }
        span{
            font-weight: bold;
            letter-spacing: 2px;
        }

    }

    .buble, .buble_main{
        border: #01883f 1px solid;
        border-radius: 50%;
        position: absolute;
        font-size: 15px;
        padding: 25px 0;
        line-height: 1.4;
        
        >img{
            width: 35px;
            z-index: 10;
        }
        h5{
            padding-bottom: 10px;
            position: relative;
            display: inline-block;
            letter-spacing: 2px;
            img{
                width: 45px;
                transform: rotate(30deg);
                top: -30px;
                right: -40px;
            }
        }
        h6{
            display: block;
            font-size: 15px;
        }
        .salary{
            &:before{
                content: "";
                display: block;
                height: 1px;
                width: 30px;
                position: absolute;
                top: 10px;
                left: -31px;
                background-color: #01883f;
                z-index: 0;
            }
            &:after{
                content: "";
                display: block;
                height: 1px;
                width: 30px;
                position: absolute;
                top: 10px;
                right: -31px;
                background-color: #01883f;
                z-index: 0;
            }
            margin: 12px auto 8px;
            position: relative;
            font-size: 13px;
            display: inline-block;
            padding: 3px 10px;
            color: #fff;
            background-color: #01883f;
            border: #01883f solid 1px ;
            border-radius: 15px;
        }
        .amount{
            font-weight: bold;
            img{
                display: inline-block;
                width: 20px;
                margin: 2px -2px;
            }
        }
    }

    .po1{
        @include sqaur(195);
        bottom: -10px;
        left: 0;
        
        .a1{
            @include arrow(50%, 0, -20%, -80%, 45, 0);

        }
        .a2{
            @include arrow(100%,50%, 10%, -40%, 75, 180);
        }
        .salary{
            &:before{
                background-color: #fff;
            }
            &:after{
                background-color: #fff;
            }
            border: #fff solid 1px ;
        }
    }
    .po2{
        @include sqaur(205);
        bottom: 215px;
        left: 100px;
        padding: 35px;
        @media only screen and (max-width: 1024px)  {
            left: 70px;
        }
        .a1{
            @include arrow(110%, 10%, -30%, -50%, 70, 0);
            @media only screen and (max-width: 1024px)  {
                @include arrow(90%, 5%, -30%, -50%, 50, 0);
            }
        }
    }
    .po3{
        @include sqaur(235);
        bottom: 330px;
        left: 340px;
        padding: 45px 15px;
        @media only screen and (max-width: 1024px)  {
            @include sqaur(225);
            bottom: 380px;
            left: 250px;
            padding: 35px 15px;

        }
        .a1{
            @include arrow(110%, 25%, -10%, -80%, 89, 0);
            @media only screen and (max-width: 1024px)  {
                @include arrow(90%, 15%, -10%, -80%, 70, 0);
            
            }
        }
    }
    .po4{
        @include sqaur(260);
        bottom: 390px;
        left: 630px;
        padding: 45px;
        @media only screen and (max-width: 1024px)  {
            @include sqaur(250);
            bottom: 460px;
            left: 490px;
            padding: 40px;
        }
        
    }
    .po5{
        @include sqaur(205);
        bottom: 20px;
        left: 275px;
        padding: 35px 20px;
        @media only screen and (max-width: 1024px)  {
            left: 245px;
        }
        .a1{
            @include arrow(120%, 40%, 0%, -50%, 50, 180);
            @media only screen and (max-width: 1024px)  {
                @include arrow(110%, 40%, 0%, -50%, 50, 180);
            }
        }
    }
    .po6{
        @include sqaur(260);
        bottom: 80px;
        left: 540px;
        padding: 45px 10px;
        @media only screen and (max-width: 1024px)  {
            left: 480px;
        }
       
    }


}

#wrappper {
    @media only screen and (max-width: 516px)  {
        .buble, .buble_main{
            position: relative;
            transform: none;
            bottom: inherit;
            left: inherit;
        }

    }
}

#jion_{
    position: relative;
    padding: 120px 0;
    @media only screen and (max-width: 1024px)  {
        padding: 120px 0 60px;
    }
    &:after{
        content: '';
        position: absolute;
        display: block;
        height: 75px;
        width: 1px;
        top: 0;
        left: 50%;
        transform: translate(0,-50%);
        background-color: #01883f;
    }
    h5{
        line-height: 1.5;
        letter-spacing: 2px;
        font-weight: bold;
    }
    ul{
        display: inline-block;
        margin: 60px 0;
    }
    li{
        position: relative;
        width: 30.33%;
        margin: 0 1.5%;
        height: 340px;
        float: left;
        border-top-left-radius: 30px;
        overflow: hidden;
        @include bg-cover;
        text-align: left;
        @media only screen and (max-width: 1024px)  {
            height: 260px;
        }
        &:after{
            content:'';
            background: rgba(0, 0, 0, 0.21);
            display: block;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: 0;
        }
        &:before{
            content:'';
            background-color:#fff43c;
            background-image: url(../img/golden/ic_play.svg);
            background-size: 85px;
            background-repeat: no-repeat;
            background-position: center;
            display: block;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: 9;
            transition: all .4s;
            opacity: 0;
        }
        &:hover:before{
            opacity: 1;
            cursor: pointer;
        }
        p{
            top: 35px;
            left: 35px;
            z-index: 5;
            @media only screen and (max-width: 1024px)  {
                top: 20px;
                left: 20px;
                padding-right: 15px;
            }
        }
        span{
            bottom: 35px;
            left: 35px;
            z-index: 5;
            @media only screen and (max-width: 1024px)  {
                bottom: 20px;
                left: 20px;
                padding-right: 15px;
            }
        }
        &.v1{
            background-image: url(../img/img_game_05.png);
        }
        &.v2{
            background-image: url(../img/img_game_06.png);
        }
        &.v3{
            background-image: url(../img/img_game_05.png);
        }
    }
    
}

#resource{
    position: relative;
    padding: 40px 0 80px;
    .column{
        position: relative;
        display: inline-block;
        margin-bottom: 125px;
        width: 100%;
        text-align: left;
        >img{
            top: -35px;
            width: 35%;
            border-bottom-left-radius: 30px;
           
            &.right{
                right: 0;
            }
            &.left{
                left: 0;
            }
        }
        >div{
            padding: 45px;
            width: 80%;
            &.bg_yellow{
                float: right;
            }
        }
        .text{
            span{
                display: table;
                line-height: 1;
                margin-bottom: 6px;
                font-weight: bold;
                padding: 5px 10px;
                letter-spacing: 2px;
            }
        }
        li{
            position: relative;
            margin-bottom: 3px;
            padding-left: 75px;
            &:before{
                content: '';
                display: inline-block;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: #01883f;
                position: absolute;
                top: 9px;
                left: 60px;
            }
            
        }
        ul{
            position: relative;
            img{
                transform: scale(.9) translate(0, -50%);
                left: 0;
                top: 50%;
            }
        }

        //個別
        &.c1{
            .text{
                left: 27%;
                top: 40px;
            }
            div{
                padding-left: 25%;
            }
            ul{
                margin-bottom: 45px;
            }
            li{
                font-size: 15px;
            }
        }
        &.c2{
            ul{
                margin-bottom: 25px;
            }
            .text{
                left: 62%;
                top: 40px;
            }
        }

    }
}

