@import "setting.scss";
.loca_banner {
    height: 205px;
    padding-top: 85px;
    .search_area {
        position: relative;
        height: 195px;
        overflow: visible;
        padding: 50px 0;
        &::before{
            content: '';
            background-color: #fff654;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            border-top-right-radius: 30px;
        }
        .title {
            max-width: 295px;
            top: 0;
            transform: translate(-24%, -31%);
        }
        div{
            text-align: center;
            position: relative;
            z-index: 5;
            .logo{
                width: 135px;
                display: inline-block;
            }
            p {
                display: inline-block;
                border-left: 1px solid #000;
                line-height: 1; 
                letter-spacing: 2px;
                padding-left: 20px;
                margin-left: 20px;
            }
            &.filter {
                margin-top: 20px;
                *{
                    -webkit-appearance: none;
                    border: none;
                    background: transparent;
                    border-radius: unset;
                    line-height: 35px;
                    height: 35px;
                    font-size: 15px;
                    margin: 10px 8px;
                    background-repeat: no-repeat;
                    display: inline-block;
                    
                }
                select {
                    border-bottom: 1px solid #000;
                    width: 20%;
                    max-width: 145px;
                    background-image: url(../img/icon_04.png);
                    background-size: 10px;
                    background-position: 88% center;
                    display: inline-block;
                    
                }
                div{
                    position: relative;
                    width: 60%;
                    max-width: 260px;
                    display: inline-block;
                    height: inherit;
                    a{
                        right: 0;
                        width: 40px;
                        height: 40px;
                        bottom: 0;
                        margin: 0;
                    }
                }
                input {
                    margin: 0;
                    width: 100%;
                    border-bottom: 1px solid #000;
                    background-image: url(../img/icon_05.png);
                    background-size: 20px;
                    background-position: 95% 20%;
                }
            }
            
            
        }

        .people{
            width: 190px;
            right: 0;
            bottom: 0;
            transform: translate(40%, 10%);
        }

    }

}
#store_content{
    padding-top: 135px;
    min-height: 100vh;
}
.map_area {
    width: 420px;
    display: inline-block;
    position: relative;
    .tawain {

    }
    div{
        position: absolute;
        width: 100px;
        height: 50px;
        background-color: rgba(0,0,0,.5);
        span {
            img {
                
            }
            &.pin{
                background-repeat: no-repeat;
                background-position: center bottom;
                display: block;
                width: 40px;
                height: 52px;
                background-image: url(../img/pin_01.png);
                background-size: 30px;
                margin: 0 auto;
                
            }
        }
        &.show {
            .pin {
                background-image: url(../img/pin_02.png);
                background-size: 38px;
                
            }
            
            
        }
    }
    
    .a_01{
        top: 0;
        right: 0;
        .pin{
            transform: translate(0, -60%);
        }
    }
    .a_02{
        height: 70px;
        width: 120px;
        top: 0;
        right: 100px;
        .pin{
            transform: translate(-10%, -30%);
        }
    }
    .a_03{
        height: 90px;
        width: 240px;
        top: 50px;
        right: 95px;
        .pin{
            transform: translate(-100%, -30%);
        }

    }
    .a_04{
        height: 90px;
        width: 220px;
        top: 95px;
        left: 0;
        .pin{
            transform: translate(-120%, 20%);
        }

    }
    .a_05{
        height: 160px;
        width: 220px;
        top: 140px;
        left: 0;
        .pin{
            transform: translate(-110%, 120%);
        }
    }
    .a_06{
        height: 275px;
        width: 380px;
        top: 25px;
        right: 0;
        .pin{
            transform: translate(10%, 190%);
        }

    }
    .a_07{
        top: 40px;
        left: 10px;
        width: 50px;
        height: 30px;
        .pin{
            transform: translate(-20%, -80%);
        }

    }

    

}

.act_wrapper {
    text-align: center;
    display: inline-block;
    width: 100%;
    max-width: 1280px;
    padding:0 40px;
    li {
        color: #fff;
        line-height: 20px;
        width: 29.333%;
        margin: 0 2%;
        float: left;
        border-bottom-left-radius: 30px;
        overflow: hidden;
        padding-bottom: 30px;
        margin-bottom: 40px;
        text-align: left;
        
        .img_area {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            img {
                width: 100%;
            }
        }
        .title {
            position: relative;
            padding: 20px 25px 25px;
            h3{
                line-height: 30px;
                height: 30px;
                text-overflow: ellipsis;
                letter-spacing: 1px;
                font-weight: normal;
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
            }
            &::before{
                content: "";
                background-color: yellow;
                height: 5px;
                width: 60px;
                display: block;
                position: absolute;
                bottom: 10px;
                left: 25px;
            }
        }
        p {
            line-height: 1;
            padding: 8px 25px 8px 20px;
            margin-left: 25px;
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            // padding: 0 15px 0 20px;
            background-size: 12px;
            
          
            &.location{ 
                background-image: url(../img/icon_07.png);
            }
            &.time{
                background-image: url(../img/icon_08.png);
            }
        }
        

    }
}

.store_wrapper{
    li{
        border-bottom: 1px solid #d4d4d4;
        padding: 30px 20px;
        position: relative;
        .info{
            padding-right: 200px;
        }
        h4{
            margin: 0 0 10px;
        }
        p{
            line-height: 14px;
            display: inline-block;
            padding: 0 15px 0 20px;
            background-size: 12px;
            margin-right: 15px;
            &.location{ 
                background-image: url(../img/icon_06.png);
            }
            &.phone{
                background-image: url(../img/icon_02.png);
            }
        }
        .act_btn{
            right: 90px;
            width: 105px;
            height: 38px;
            line-height: 38px;
            border-radius: 3px;
            top: 40px;
            text-align: center;
            overflow: hidden;
            &:hover {
                color: #00a83c;
                text-decoration: none;
            }
            &::before{
                content: '';
                display: block;
                position: absolute;
                width: 5px;
                background-color: #00a83c;
                height: 100%;
                left: 0;
                top:0;
            }
            &::after{
                content: '+';
                padding: 0 2px;
                width: 5px;
                display: inline-block;
            }
        }
        .fb_btn{
            right: 20px;
            top: 38px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 50%;
            img{
                width: 7px;
            }
        }
        .detail{
            display: none;
            border-bottom-left-radius: 30px;
            overflow: hidden;
            width: 100%;
            margin: 15px 0;
            position: relative;
            padding: 0 30px 30px 225px;
            .img_wrapper{
                width: 185px;
                height: 100%;
                left: 0;
                background-position: center;
                background-size: cover;
            }
            h5{
                padding: 30px 0 30px;
                letter-spacing: 2px;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    display: block;
                    background-color: #fff654;
                    width: 68px;
                    height: 5px;
                    bottom: 10px;
                }
            }
            p{
                margin-top: 12px;
                &.location{ 
                    background-image: url(../img/icon_07.png);
                }
                &.time{
                    background-image: url(../img/icon_08.png);
                }
            }
        }

        
        &.show {
            .detail{
                display: block;
            }
            .act_btn {
                &::after{
                    content: '-';
                    padding: 0 2px;
                }
            }
        }
    }


}