@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

body, html {
  width: 100%; }

.pc {
  display: inline-block; }

.mb {
  display: none; }

.bg_green {
  background: #00a83c; }

.bg_white {
  background-color: #fff; }

.bg_grey {
  background: #f2f2f2; }

.bg_yellow {
  background-color: #fff43c; }

.f_white {
  color: #fff; }

.f_yellow {
  color: #fff43c; }

.f_green {
  color: #01883f; }

.f_grey {
  color: #333; }

.f13 {
  font-size: 13px; }

.f14 {
  font-size: 14px; }

.f16 {
  font-size: 16px; }

.f18 {
  font-size: 18px; }

.f19 {
  font-size: 19px; }

.f22 {
  font-size: 22px; }

.f24 {
  font-size: 24px; }

.f27 {
  font-size: 27px; }

.f30 {
  font-size: 30px; }

.f40 {
  font-size: 40px; }

.f43 {
  font-size: 43px; }

.abs {
  position: absolute; }

.fix {
  position: fixed; }

.W100 {
  width: 100%; }

.W50 {
  width: 50%; }

.W1040 {
  max-width: 1040px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.W900 {
  max-width: 900px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.r50 {
  border-radius: 50%; }

.title {
  margin-bottom: 105px;
  position: relative;
  display: inline-block;
  padding: 0 25px;
  font-family: 'NotoSans-Black',Microsoft JhengHei; }
  @media only screen and (max-width: 1024px) {
    .title {
      margin-bottom: 65px; } }
  @media only screen and (max-width: 516px) {
    .title {
      margin-bottom: 55px; } }
  .title font {
    display: block;
    letter-spacing: 1px;
    text-transform: uppercase; }

.icon_bg {
  background-repeat: no-repeat;
  background-position: left center; }

* {
  webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  outline: none; }

*:focus {
  outline: none; }

@media only screen and (max-width: 516px) {
  .pc {
    display: none; }
  .mb {
    display: inline-block; }
  .W50 {
    width: 100%; }
  .f13 {
    font-size: 12px; }
  .f14 {
    font-size: 13px; }
  .f16 {
    font-size: 14px; }
  .f18 {
    font-size: 17px; }
  .f19 {
    font-size: 18px; }
  .f22 {
    font-size: 20px; }
  .f24 {
    font-size: 22px; }
  .f27 {
    font-size: 25px; }
  .f30 {
    font-size: 28px; }
  .f40 {
    font-size: 35px; }
  .f43 {
    font-size: 39px; } }

@media only screen and (max-width: 320px) {
  .f24 {
    font-size: 21px; }
  .f27 {
    font-size: 23px; }
  .f30 {
    font-size: 25px; }
  .f40 {
    font-size: 33px; }
  .f43 {
    font-size: 37px; } }

#wrapper {
  position: relative; }

#wrapper > div {
  padding-left: 15px;
  padding-right: 15px; }
  #wrapper > div#act_banner {
    top: 50vh;
    right: 0;
    -webkit-transform: translate(100.5%, -50%);
    -ms-transform: translate(100.5%, -50%);
    transform: translate(100.5%, -50%);
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    -o-transition: transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    position: fixed;
    z-index: 555;
    width: 90%;
    max-width: 650px;
    overflow: visible;
    padding: 40px 60px 40px 40px; }
    @media only screen and (max-width: 1024px) {
      #wrapper > div#act_banner {
        max-width: 550px; } }
    @media only screen and (max-width: 516px) {
      #wrapper > div#act_banner {
        max-width: 270px;
        padding: 20px; } }
    #wrapper > div#act_banner .flag {
      left: -50px;
      width: 50px;
      border-top-left-radius: 40px;
      height: 190px;
      z-index: 555;
      cursor: pointer; }
      @media only screen and (max-width: 516px) {
        #wrapper > div#act_banner .flag {
          width: 35px;
          height: 160px;
          left: -35px; } }
      @media only screen and (max-width: 320px) {
        #wrapper > div#act_banner .flag {
          width: 30px;
          height: 140px;
          left: -30px; }
          #wrapper > div#act_banner .flag span {
            font-size: 15px; } }
      #wrapper > div#act_banner .flag img {
        top: -12px;
        left: -10px;
        width: 43px; }
        @media only screen and (max-width: 320px) {
          #wrapper > div#act_banner .flag img {
            left: -8px;
            width: 36px; } }
      #wrapper > div#act_banner .flag span {
        width: 18px;
        display: inline-block;
        padding-top: 20px;
        padding: 39px 20px 0; }
        @media only screen and (max-width: 516px) {
          #wrapper > div#act_banner .flag span {
            padding: 35px 10px 0; } }
        @media only screen and (max-width: 320px) {
          #wrapper > div#act_banner .flag span {
            padding: 28px 10px 0; } }
    #wrapper > div#act_banner .img_wrapper {
      width: 100%;
      max-height: 350px;
      overflow: hidden; }
      @media only screen and (max-width: 1024px) {
        #wrapper > div#act_banner .img_wrapper {
          max-height: 300px; } }
      @media only screen and (max-width: 516px) {
        #wrapper > div#act_banner .img_wrapper {
          max-height: 250px; } }
    #wrapper > div#act_banner .bg_yellow {
      width: 60%;
      border-top-right-radius: 40px;
      right: 30px;
      bottom: 25px;
      padding: 20px 30px; }
      @media only screen and (max-width: 516px) {
        #wrapper > div#act_banner .bg_yellow {
          width: 70%;
          right: 10px;
          bottom: 10px;
          padding: 15px 20px; } }
      #wrapper > div#act_banner .bg_yellow h6::after {
        content: "";
        display: block;
        width: 35px;
        height: 5px;
        background-color: #00a83c;
        margin: 15px 0; }
        @media only screen and (max-width: 516px) {
          #wrapper > div#act_banner .bg_yellow h6::after {
            margin: 10px 0; } }
    #wrapper > div#act_banner.show {
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%); }
  #wrapper > div.black_cover {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: -1;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    opacity: 0; }
    #wrapper > div.black_cover.show {
      opacity: 1;
      z-index: 500; }

.loca_banner {
  height: 205px;
  padding-top: 85px; }
  @media only screen and (max-width: 516px) {
    .loca_banner {
      padding-top: 70px; } }
  @media only screen and (max-width: 320px) {
    .loca_banner {
      padding-top: 50px; } }
  .loca_banner .search_area {
    position: relative;
    height: 215px;
    max-width: 940px;
    overflow: visible;
    padding: 50px 0;
    z-index: 10; }
    @media only screen and (max-width: 516px) {
      .loca_banner .search_area {
        width: 85%;
        padding: 30px 20px;
        height: 230px; } }
    @media only screen and (max-width: 320px) {
      .loca_banner .search_area {
        width: 88%;
        padding: 20px;
        height: 250px; } }
    .loca_banner .search_area::before {
      content: '';
      background-color: #fff654;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      border-top-right-radius: 40px; }
    .loca_banner .search_area .title {
      max-width: 295px;
      top: 0;
      -webkit-transform: translate(-24%, -31%) rotate(-10deg);
      -ms-transform: translate(-24%, -31%) rotate(-10deg);
      transform: translate(-24%, -31%) rotate(-10deg);
      position: absolute; }
      @media only screen and (max-width: 1024px) {
        .loca_banner .search_area .title {
          -webkit-transform: translate(-5%, -38%) rotate(-10deg);
          -ms-transform: translate(-5%, -38%) rotate(-10deg);
          transform: translate(-5%, -38%) rotate(-10deg); } }
    .loca_banner .search_area div {
      text-align: center;
      position: relative;
      z-index: 5; }
      .loca_banner .search_area div .logo {
        width: 130px;
        display: inline-block;
        margin-top: -5px; }
        @media only screen and (max-width: 516px) {
          .loca_banner .search_area div .logo {
            width: 85px; } }
      .loca_banner .search_area div p {
        display: inline-block;
        border-left: 1px solid #000;
        line-height: 1;
        letter-spacing: 2px;
        padding-left: 20px;
        margin-left: 20px; }
        @media only screen and (max-width: 516px) {
          .loca_banner .search_area div p {
            padding-left: 0;
            margin-left: 10px;
            letter-spacing: 0;
            border: none;
            padding-top: 8px; } }
        @media only screen and (max-width: 375px) {
          .loca_banner .search_area div p {
            font-size: 14px; } }
      .loca_banner .search_area div.filter {
        margin-top: 20px; }
        @media only screen and (max-width: 650px) {
          .loca_banner .search_area div.filter {
            padding: 15px 35px 35px; } }
        @media only screen and (max-width: 414px) {
          .loca_banner .search_area div.filter {
            padding: 15px 0 35px; } }
        @media only screen and (max-width: 375px) {
          .loca_banner .search_area div.filter {
            margin-top: 10px; } }
        @media only screen and (max-width: 320px) {
          .loca_banner .search_area div.filter {
            padding-left: 0;
            padding-right: 0;
            margin-top: 0; } }
        .loca_banner .search_area div.filter div {
          margin-right: 8px;
          position: relative; }
          @media only screen and (max-width: 516px) {
            .loca_banner .search_area div.filter div {
              margin: 10px 0; } }
          .loca_banner .search_area div.filter div span {
            top: 45%;
            left: 45%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            white-space: nowrap;
            font-family: 'NotoSans',Microsoft JhengHei;
            position: absolute; }
        .loca_banner .search_area div.filter select, .loca_banner .search_area div.filter input {
          border-radius: unset;
          -webkit-appearance: none;
          border: none;
          background: transparent;
          line-height: 35px;
          height: 35px;
          margin: 20px 5px; }
        .loca_banner .search_area div.filter .select_wrapper {
          width: 22%;
          max-width: 155px;
          display: inline-block;
          text-align-last: center;
          border-bottom: 1px solid #000; }
          @media only screen and (max-width: 650px) {
            .loca_banner .search_area div.filter .select_wrapper {
              max-width: inherit;
              width: 48%;
              float: right;
              margin: 0 0 15px; }
              .loca_banner .search_area div.filter .select_wrapper:first-child {
                float: left; } }
          @media only screen and (max-width: 375px) {
            .loca_banner .search_area div.filter .select_wrapper:first-child {
              margin-right: 1%; } }
          @media only screen and (max-width: 320px) {
            .loca_banner .search_area div.filter .select_wrapper {
              width: 95%;
              max-width: 95%;
              float: none; } }
          .loca_banner .search_area div.filter .select_wrapper::after {
            content: "";
            position: absolute;
            top: 12px;
            right: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 8px 0 8px;
            border-color: #000000 transparent transparent transparent; }
          .loca_banner .search_area div.filter .select_wrapper select {
            margin: 0;
            float: left;
            width: 100%;
            opacity: 0; }
        .loca_banner .search_area div.filter .input_wrapper {
          position: relative;
          width: 60%;
          max-width: 260px;
          display: inline-block;
          height: inherit;
          text-align-last: center;
          border-bottom: 1px solid #000;
          padding-right: 40px; }
          @media only screen and (max-width: 650px) {
            .loca_banner .search_area div.filter .input_wrapper {
              width: 100%;
              max-width: 100%; } }
          @media only screen and (max-width: 320px) {
            .loca_banner .search_area div.filter .input_wrapper {
              width: 95%;
              max-width: 95%;
              margin-top: 0; } }
          .loca_banner .search_area div.filter .input_wrapper a {
            right: 0;
            width: 40px;
            height: 40px;
            bottom: 0;
            margin: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../img/svg/ic_search.svg);
            background-size: 20px; }
          .loca_banner .search_area div.filter .input_wrapper input {
            text-align: center;
            float: left;
            margin: 0;
            width: 100%; }
    .loca_banner .search_area .people {
      width: 175px;
      right: 0;
      bottom: 0;
      -webkit-transform: translate(48%, 16%);
      -ms-transform: translate(48%, 16%);
      transform: translate(48%, 16%); }
      @media only screen and (max-width: 1200px) {
        .loca_banner .search_area .people {
          -webkit-transform: translate(10%, 16%);
          -ms-transform: translate(10%, 16%);
          transform: translate(10%, 16%); } }
      @media only screen and (max-width: 990px) {
        .loca_banner .search_area .people {
          display: none; } }

#store_content {
  padding-top: 135px;
  min-height: 100vh;
  position: relative;
  padding-bottom: 280px;
  text-align: center; }
  #store_content .title_act {
    padding-left: 20px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 25px;
    letter-spacing: 2px; }
    @media only screen and (max-width: 516px) {
      #store_content .title_act {
        padding-left: 0;
        margin-bottom: 8px; } }
    #store_content .title_act img {
      margin-right: 10px;
      margin-top: -15px;
      width: 40px; }
  #store_content .W1040 {
    display: inline-block; }
    #store_content .W1040.sec1 {
      padding-left: 20px;
      position: relative; }
      @media only screen and (max-width: 516px) {
        #store_content .W1040.sec1:after {
          content: "";
          display: block;
          width: 70px;
          height: 100%;
          position: absolute;
          background-image: -webkit-gradient(linear, right top, left top, from(#f2f2f2), to(rgba(255, 255, 255, 0)));
          background-image: -webkit-linear-gradient(right, #f2f2f2, rgba(255, 255, 255, 0));
          background-image: -o-linear-gradient(right, #f2f2f2, rgba(255, 255, 255, 0));
          background-image: linear-gradient(-90deg, #f2f2f2, rgba(255, 255, 255, 0));
          top: 0px;
          right: 0;
          z-index: 15; } }
  #store_content .W900 {
    max-width: 770px;
    position: relative;
    float: right; }
    @media screen and (max-width: 1200px) {
      #store_content .W900 {
        max-width: 900px;
        float: none; } }
  #store_content > .people {
    bottom: 0;
    left: 0;
    width: 280px; }
    @media only screen and (max-width: 1024px) {
      #store_content > .people {
        width: 200px; } }

.map_area {
  padding: 20px 20px 50px;
  width: 420px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translate(-111%, 140px);
  -ms-transform: translate(-111%, 140px);
  transform: translate(-111%, 140px); }
  @media screen and (max-width: 1200px) {
    .map_area {
      display: none; } }
  .map_area .line {
    z-index: 15;
    position: relative; }
  .map_area div {
    position: absolute; }
    .map_area div .green {
      display: none; }
    .map_area div.show .green {
      display: block; }
    .map_area div.show .yellow {
      display: none; }
  .map_area span {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center bottom;
    display: block;
    width: 40px;
    height: 55px;
    z-index: 22;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    background-image: url(../img/map/mark.svg);
    background-size: 30px;
    margin: 0 auto;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    cursor: pointer; }
    .map_area span:before {
      position: absolute;
      color: #fff654;
      background-color: #00a63a;
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 1px;
      white-space: nowrap;
      padding: 8px 10px;
      top: 0;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      border-radius: 5px;
      opacity: 0;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
    .map_area span.show {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
      background-image: url(../img/map/mark.svg);
      background-size: 38px; }
      .map_area span.show:before {
        opacity: 1;
        top: -35px;
        -webkit-transform: translate(-50%, -5px);
        -ms-transform: translate(-50%, -5px);
        transform: translate(-50%, -5px); }
    @media only screen and (min-width: 769px) {
      .map_area span:hover {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%); } }
  .map_area .a_01 {
    width: 88px;
    height: 50px;
    top: 16px;
    right: 19px; }
  .map_area .a_02 {
    height: 70px;
    width: 146px;
    top: 21px;
    right: 86px; }
  .map_area .a_03 {
    height: 90px;
    width: 230px;
    top: 64px;
    right: 102px; }
  .map_area .a_04 {
    height: 90px;
    width: 175px;
    top: 104px;
    left: 11px; }
  .map_area .a_05 {
    height: 160px;
    width: 204px;
    top: 137px;
    left: 13px; }
  .map_area .a_06 {
    height: 275px;
    width: 310px;
    top: 42px;
    right: 15px; }
  .map_area .a_07 {
    top: 51px;
    left: 18px;
    width: 34px;
    height: 30px; }
  .map_area .pin_01 {
    top: -20px;
    right: 45px; }
    .map_area .pin_01:before {
      content: '大台北'; }
  .map_area .pin_02 {
    top: 0px;
    left: 230px; }
    .map_area .pin_02:before {
      content: '桃竹苗'; }
  .map_area .pin_03 {
    top: 43px;
    left: 140px; }
    .map_area .pin_03:before {
      content: '中彰投'; }
  .map_area .pin_04 {
    top: 105px;
    left: 55px; }
    .map_area .pin_04:before {
      content: '雲嘉南'; }
  .map_area .pin_05 {
    top: 190px;
    left: 55px; }
    .map_area .pin_05:before {
      content: '高屏'; }
  .map_area .pin_06 {
    top: 100px;
    right: 145px; }
    .map_area .pin_06:before {
      content: '宜花東'; }
  .map_area .pin_07 {
    top: 10px;
    left: 20px; }
    .map_area .pin_07:before {
      content: '離島'; }

@media only screen and (max-width: 516px) {
  .mb_scroll {
    overflow: scroll;
    width: 100%; } }

.act_wrapper {
  text-align: center;
  display: inline-block;
  min-width: 100%;
  max-width: 1280px; }
  @media only screen and (max-width: 1024px) {
    .act_wrapper {
      padding: 15px 0 10px; } }
  @media only screen and (max-width: 516px) {
    .act_wrapper {
      padding: 10px 0 10px; } }
  .act_wrapper li {
    color: #fff;
    line-height: 20px;
    width: 29.333%;
    margin: 0 2%;
    float: left;
    border-bottom-left-radius: 40px;
    overflow: hidden;
    padding-bottom: 30px;
    margin-bottom: 40px;
    text-align: left; }
    @media only screen and (max-width: 516px) {
      .act_wrapper li {
        width: 200px;
        margin: 0 20px 0 0; } }
    .act_wrapper li .img_area {
      overflow: hidden; }
      .act_wrapper li .img_area img {
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s; }
    @media only screen and (min-width: 769px) {
      .act_wrapper li:hover img {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1); } }
    .act_wrapper li .title {
      position: relative;
      padding: 20px 25px 25px;
      margin: 0;
      width: 100%; }
      .act_wrapper li .title h3 {
        line-height: 30px;
        height: 30px;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        letter-spacing: 1px;
        font-weight: normal;
        width: 100%;
        overflow: hidden;
        white-space: nowrap; }
      .act_wrapper li .title::before {
        content: "";
        background-color: yellow;
        height: 5px;
        width: 60px;
        display: block;
        position: absolute;
        bottom: 10px;
        left: 25px; }
    .act_wrapper li p {
      line-height: 1;
      padding: 8px 25px 8px 20px;
      margin-left: 25px;
      position: relative;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
      background-size: 12px; }
      .act_wrapper li p span {
        color: #fff654;
        position: absolute;
        left: 0; }

@media only screen and (max-width: 516px) {
  .store_wrapper {
    padding: 0 5%; } }

.store_wrapper li {
  text-align: left;
  border-bottom: 1px solid #d4d4d4;
  padding: 30px 20px;
  position: relative; }
  @media only screen and (max-width: 516px) {
    .store_wrapper li {
      padding: 20px 0; } }
  .store_wrapper li .info {
    padding-right: 200px; }
    @media only screen and (max-width: 516px) {
      .store_wrapper li .info {
        padding-right: 0; } }
  .store_wrapper li h4 {
    margin: 0 0 10px; }
  .store_wrapper li p {
    position: relative;
    line-height: 16px;
    display: inline-block;
    padding: 0 15px 0 22px;
    background-size: 12px;
    margin-right: 15px; }
    @media only screen and (max-width: 516px) {
      .store_wrapper li p {
        width: 100%;
        font-size: 14px;
        margin-bottom: 5px;
        line-height: 1.5; } }
    .store_wrapper li p span {
      position: absolute;
      color: #00a63a;
      left: 0;
      top: 0; }
      @media only screen and (max-width: 516px) {
        .store_wrapper li p span {
          top: 3px; } }
  .store_wrapper li .act_btn {
    right: 90px;
    width: 105px;
    height: 38px;
    line-height: 38px;
    border-radius: 4px;
    top: 48px;
    text-align: center;
    overflow: hidden; }
    @media only screen and (min-width: 769px) {
      .store_wrapper li .act_btn:hover {
        color: #00a83c;
        text-decoration: none; } }
    @media only screen and (max-width: 516px) {
      .store_wrapper li .act_btn {
        position: relative;
        width: 100%;
        top: 0;
        right: 0;
        margin: 15px 0;
        display: block;
        text-align: left;
        font-size: 14px;
        padding-left: 15px; } }
    .store_wrapper li .act_btn::before {
      content: '';
      display: block;
      position: absolute;
      width: 5px;
      background-color: #00a83c;
      height: 100%;
      left: 0;
      top: 0; }
    .store_wrapper li .act_btn::after {
      content: '+';
      font-family: 'NotoSans-Black',Microsoft JhengHei;
      padding: 0 2px;
      width: 5px;
      display: inline-block; }
      @media only screen and (max-width: 516px) {
        .store_wrapper li .act_btn::after {
          position: absolute;
          right: 20px;
          font-size: 17px; } }
  .store_wrapper li .fb_btn {
    right: 20px;
    top: 46px;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    z-index: 25; }
    @media only screen and (max-width: 516px) {
      .store_wrapper li .fb_btn {
        width: 30px;
        height: 30px;
        top: 15px;
        right: 0px; } }
  .store_wrapper li .detail {
    display: none;
    border-bottom-left-radius: 40px;
    overflow: hidden;
    width: 100%;
    margin: 25px 0 0px;
    position: relative;
    padding: 0 30px 30px 225px; }
    @media only screen and (max-width: 516px) {
      .store_wrapper li .detail {
        padding: 0 10px 15px 155px; } }
    @media only screen and (max-width: 414px) {
      .store_wrapper li .detail {
        padding: 0 10px 15px 135px; } }
    .store_wrapper li .detail * {
      -webkit-transition: all .4s;
      -o-transition: all .4s;
      transition: all .4s;
      letter-spacing: 1px; }
    .store_wrapper li .detail .img_wrapper {
      width: 185px;
      height: 100%;
      left: 0;
      background-position: center;
      background-size: cover; }
      @media only screen and (max-width: 516px) {
        .store_wrapper li .detail .img_wrapper {
          width: 135px; } }
      @media only screen and (max-width: 516px) {
        .store_wrapper li .detail .img_wrapper {
          width: 115px; } }
    .store_wrapper li .detail h5 {
      padding: 30px 0 30px;
      letter-spacing: 2px;
      position: relative; }
      @media only screen and (max-width: 516px) {
        .store_wrapper li .detail h5 {
          padding: 10px 0 30px; } }
      .store_wrapper li .detail h5::after {
        content: '';
        position: absolute;
        display: block;
        background-color: #fff654;
        width: 68px;
        height: 5px;
        bottom: 10px; }
    .store_wrapper li .detail p {
      margin-top: 12px;
      margin-bottom: 0; }
      @media only screen and (max-width: 414px) {
        .store_wrapper li .detail p {
          margin-top: 0; } }
      .store_wrapper li .detail p span {
        position: absolute;
        color: #fff654;
        left: 0;
        top: 0; }
        @media only screen and (max-width: 516px) {
          .store_wrapper li .detail p span {
            top: 3px; } }
      @media only screen and (max-width: 516px) {
        .store_wrapper li .detail p.location {
          max-height: 42px;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          overflow: hidden;
          margin-bottom: 0; } }
  .store_wrapper li.show .act_btn::after {
    content: '-';
    padding: 0 2px; }
