extends ./include/layout
include ./include/mixin

block prepend own_title
    - var titleWord = '加入我們'
    - var company = '國泰世華'
    
block prepend own_style
    - var cssArr = ['join', 'vue-datepicker-local']
    
block prepend own_js
    - var jsArr = ['ch.min', 'https://code.jquery.com/jquery-3.3.1.min.js', 'https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js', 'https://cdnjs.cloudflare.com/ajax/libs/vue-select/2.5.1/vue-select.js', 'vue-datepicker-local']

block prepend beforeWrap
    - var wrapClasses = 'join'
    
block prepend afterWrap
    - var jsArr = ['init','join']
    
block wrapContent
    // add class '.in'
    .content
        .title_join
            h1 
                +svg('title_joinus')
            p.word 一起做夢想的實踐者，資料送出後我們將派專人盡速與您聯繫
            p.join 先讓我們了解你吧！請填寫基本資料
        .infoBox
            .step1('v-show'='step == 1')
                .inputBox
                    .item
                        .name
                            label(:class="{'typed':name !== ''||isFocus ==='name'}") 姓名
                            input('v-model'='name', @focus="labelF('name')", @blur="labelB('name')")
                        .birth
                            label(:class="{'typed':birth !== ''}") 生日
                            vue-datepicker-local('v-model'='birth')
                    .item.i6
                        .gender
                            label(:class="{'typed':gender !== ''}") 性別
                            v-select(class='gender-select', 'v-model'='gender', ':options'='genderOptions.list', ':max-height'='maxHeight', ':searchable'='false')
                        .edu
                            label(:class="{'typed':edu !== ''}") 學歷
                            v-select(class='edu-select', 'v-model'='edu', ':options'='eduOptions.list', ':max-height'='maxHeight', ':searchable'='false')
                //-.btnBox
                    .btn
                        +btn('下一步')('@click.prevent'='next(2)')
            .step2('v-show'='step == 2')
                .inputBox
                    .item
                        .place
                            label(:class="{'typed':place !== ''}") 希望上班地點
                            v-select(class='place-select', 'v-model'='place', ':options'='areaData', label='country', ':max-height'='maxHeight', ':searchable'='false')
                        .dept
                            label(:class="{'typed':dept !== null}") 是否希望指定聯繫單位
                            v-select(class='dept-select', 'v-model'='dept', ':options'='availableCities', ':disabled'='availableCities == ""', ':max-height'='maxHeight', ':reset-on-options-change'='true', ':searchable'='false')
                //-.btnBox
                    .btn
                        +btn('下一步')('@click.prevent'='next(3)')
            .step3('v-show'='step == 3')
                .inputBox
                    .item
                        .phone
                            label(:class="{'typed':phone !== ''||isFocus ==='phone'}") 手機
                            input(text='tel', 'v-model'='phone', maxLength='10', @focus="labelF('phone')", @blur="labelB('phone')")
                        .email
                            label(:class="{'typed':email !== ''||isFocus ==='email'}") email
                            input(text='email', 'v-model'='email', @focus="labelF('email')", @blur="labelB('email')")
                        
                .checkBox
                    label(for="read")
                        | 本人
                        a(href='', target='_blank') 已詳細閱讀
                        | 下方蒐集、處理及利用個人資料告知暨同意書說明。
                        input(type="checkbox", id="read") 
                        label(for="read") 是，已詳閱
        .progress 
            .btnBox
                .btn
                    +btn('{{ (step != 3) ? "下一步" : "送出資料" }}')('@click.prevent'='next()')
            .row
                .numBox
                    span.now {{ step }}
                    span.slash /
                    span.totle 3
                .line(':class'='{ "step1" : step == 1, "step2" : step == 2, "step3" : step == 3 }')
                    svg(width="20", height="15", xmlns="http://www.w3.org/2000/svg", class="bling")
                        g
                            title bling
                            rect(fill="none", id="canvas_background", height="17", width="22", y="-1", x="-1")
                        g
                            title Layer 1
                            path(stroke="#fff43c", transform="rotate(17.083168029785156 3.9378130435943532,9.777226448059084) ", d="m0.971301,7.23035c0,0 0,0 0.077052,0c0.077052,0 0.312574,0.152616 0.539366,0.31836c0.943512,0.689534 1.577323,1.072201 2.619777,2.069337c0.63962,0.611815 1.097413,1.093767 2.080411,2.069337c0.235731,0.233949 0.616418,0.636719 0.616418,0.636719l0,0l0,0l0,0", id="svg_5", fill-opacity="null", stroke-opacity="null", stroke-width="2", fill="none")
                            path(transform="rotate(8.34813404083252 15.593463897705067,9.652233123779297) ", d="m17.40587,6.58989c0,0 -0.03327,0.137425 -0.124992,0.312484c-0.290051,0.553585 -0.521624,0.836369 -0.937452,1.499923c-0.285483,0.455556 -0.518899,0.83884 -1.062446,1.687413c-0.289979,0.452709 -0.679363,1.129103 -0.874955,1.499923c-0.300191,0.569127 -0.437477,0.749962 -0.562471,0.999949c0,0 -0.062496,0.124993 -0.062496,0.124993l0,0l0,0l0,0", id="svg_10", fill-opacity="null", stroke-opacity="null", stroke-width="2", stroke="#fff43c", fill="none")
                            path(d="m9.406282,0.590198c0,0 -0.000001,0.124994 0.062496,0.874955c0.062496,0.749961 0.029453,2.125376 0.062497,3.249833c0.062524,2.127645 0.218734,3.436515 0.249987,5.24973c0.012924,0.74985 0.062497,1.56242 0.062497,1.74991l0,0.124993l0,0l0,0", id="svg_13", fill-opacity="null", stroke-opacity="null", stroke-width="2", stroke="#fff43c", fill="none")
                    span
                .imgBox(:class="{'done': isDone}")
                    <svg x="0px" y="0px" width="80px" height="80px" viewBox="0 0 80 80" enable-background="new 0 0 80 80" xml:space="preserve">
                        <g>
                            <g>
                                <path fill="#FFFFFF" d="M41,9.5c-0.3,0-0.5-0.2-0.5-0.5V1c0-0.3,0.2-0.5,0.5-0.5s0.5,0.2,0.5,0.5v8C41.5,9.3,41.3,9.5,41,9.5z"/>
                            </g>
                            <g>
                                <path fill="#FFFFFF" d="M32.9,10.3c-0.2,0-0.4-0.1-0.5-0.4l-2.1-7.7c-0.1-0.3,0.1-0.5,0.4-0.6c0.3-0.1,0.5,0.1,0.6,0.4l2.1,7.7 c0.1,0.3-0.1,0.5-0.4,0.6C33,10.3,33,10.3,32.9,10.3z"/>
                            </g>
                            <g>
                                <path fill="#FFFFFF" d="M25.4,13.2c-0.2,0-0.3-0.1-0.4-0.2l-4-6.9c-0.1-0.2-0.1-0.5,0.2-0.7c0.2-0.1,0.5-0.1,0.7,0.2l4,6.9 c0.1,0.2,0.1,0.5-0.2,0.7C25.5,13.1,25.5,13.2,25.4,13.2z"/>
                            </g>
                            <g>
                                <path fill="#FFFFFF" d="M18.8,17.9c-0.1,0-0.3,0-0.4-0.1l-5.7-5.7c-0.2-0.2-0.2-0.5,0-0.7s0.5-0.2,0.7,0l5.7,5.7 c0.2,0.2,0.2,0.5,0,0.7C19,17.8,18.9,17.9,18.8,17.9z"/>
                            </g>
                            <g>
                                <path fill="#FFFFFF" d="M13.7,24.1c-0.1,0-0.2,0-0.2-0.1l-6.9-4c-0.2-0.1-0.3-0.4-0.2-0.7c0.1-0.2,0.4-0.3,0.7-0.2l6.9,4 c0.2,0.1,0.3,0.4,0.2,0.7C14,24,13.8,24.1,13.7,24.1z"/>
                            </g>
                            <g>
                                <path fill="#FFFFFF" d="M10.3,31.5c0,0-0.1,0-0.1,0l-7.7-2.1c-0.3-0.1-0.4-0.3-0.4-0.6c0.1-0.3,0.3-0.4,0.6-0.4l7.7,2.1 c0.3,0.1,0.4,0.3,0.4,0.6C10.7,31.4,10.5,31.5,10.3,31.5z"/>
                            </g>
                            <g>
                                <path fill="#FFFFFF" d="M9,39.5H1c-0.3,0-0.5-0.2-0.5-0.5s0.2-0.5,0.5-0.5h8c0.3,0,0.5,0.2,0.5,0.5S9.3,39.5,9,39.5z"/>
                            </g>
                            <g>
                                <path fill="#FFFFFF" d="M2.1,49.6c-0.2,0-0.4-0.1-0.5-0.4c-0.1-0.3,0.1-0.5,0.4-0.6l7.7-2.1c0.3-0.1,0.5,0.1,0.6,0.4 c0.1,0.3-0.1,0.5-0.4,0.6l-7.7,2.1C2.2,49.6,2.1,49.6,2.1,49.6z"/>
                            </g>
                            <g>
                                <path fill="#FFFFFF" d="M5.7,59.1c-0.2,0-0.3-0.1-0.4-0.2c-0.1-0.2-0.1-0.5,0.2-0.7l6.9-4c0.2-0.1,0.5-0.1,0.7,0.2 c0.1,0.2,0.1,0.5-0.2,0.7l-6.9,4C5.9,59.1,5.8,59.1,5.7,59.1z"/>
                            </g>
                            <g>
                                <path fill="#FFFFFF" d="M11.7,67.4c-0.1,0-0.3,0-0.4-0.1c-0.2-0.2-0.2-0.5,0-0.7l5.7-5.7c0.2-0.2,0.5-0.2,0.7,0s0.2,0.5,0,0.7 l-5.7,5.7C12,67.3,11.8,67.4,11.7,67.4z"/>
                            </g>
                            <g>
                                <path fill="#FFFFFF" d="M19.6,73.8c-0.1,0-0.2,0-0.2-0.1c-0.2-0.1-0.3-0.4-0.2-0.7l4-6.9c0.1-0.2,0.4-0.3,0.7-0.2 c0.2,0.1,0.3,0.4,0.2,0.7l-4,6.9C20,73.7,19.8,73.8,19.6,73.8z"/>
                            </g>
                            <g>
                                <path fill="#FFFFFF" d="M28.9,77.9c0,0-0.1,0-0.1,0c-0.3-0.1-0.4-0.3-0.4-0.6l2.1-7.7c0.1-0.3,0.3-0.4,0.6-0.4 c0.3,0.1,0.4,0.3,0.4,0.6l-2.1,7.7C29.4,77.8,29.2,77.9,28.9,77.9z"/>
                            </g>
                            <g>
                                <path fill="#FFFFFF" d="M39,79.5c-0.3,0-0.5-0.2-0.5-0.5v-8c0-0.3,0.2-0.5,0.5-0.5s0.5,0.2,0.5,0.5v8C39.5,79.3,39.3,79.5,39,79.5 z"/>
                            </g>
                            <g>
                                <path fill="#FFFFFF" d="M49.1,78.4c-0.2,0-0.4-0.1-0.5-0.4l-2.1-7.7c-0.1-0.3,0.1-0.5,0.4-0.6c0.3-0.1,0.5,0.1,0.6,0.4l2.1,7.7 c0.1,0.3-0.1,0.5-0.4,0.6C49.2,78.4,49.2,78.4,49.1,78.4z"/>
                            </g>
                            <g>
                                <path fill="#FFFFFF" d="M58.6,74.8c-0.2,0-0.3-0.1-0.4-0.2l-4-6.9c-0.1-0.2-0.1-0.5,0.2-0.7c0.2-0.1,0.5-0.1,0.7,0.2l4,6.9 c0.1,0.2,0.1,0.5-0.2,0.7C58.8,74.8,58.7,74.8,58.6,74.8z"/>
                            </g>
                            <g>
                                <path fill="#FFFFFF" d="M66.9,68.8c-0.1,0-0.3,0-0.4-0.1L60.9,63c-0.2-0.2-0.2-0.5,0-0.7s0.5-0.2,0.7,0l5.7,5.7 c0.2,0.2,0.2,0.5,0,0.7C67.1,68.7,67,68.8,66.9,68.8z"/>
                            </g>
                            <g>
                                <path fill="#FFFFFF" d="M73.3,60.9c-0.1,0-0.2,0-0.2-0.1l-6.9-4c-0.2-0.1-0.3-0.4-0.2-0.7c0.1-0.2,0.4-0.3,0.7-0.2l6.9,4 c0.2,0.1,0.3,0.4,0.2,0.7C73.6,60.8,73.4,60.9,73.3,60.9z"/>
                            </g>
                            <g>
                                <path fill="#FFFFFF" d="M77.4,51.6c0,0-0.1,0-0.1,0l-7.7-2.1c-0.3-0.1-0.4-0.3-0.4-0.6c0.1-0.3,0.3-0.4,0.6-0.4l7.7,2.1 c0.3,0.1,0.4,0.3,0.4,0.6C77.8,51.4,77.6,51.6,77.4,51.6z"/>
                            </g>
                            <g>
                                <path fill="#FFFFFF" d="M79,41.5h-8c-0.3,0-0.5-0.2-0.5-0.5s0.2-0.5,0.5-0.5h8c0.3,0,0.5,0.2,0.5,0.5S79.3,41.5,79,41.5z"/>
                            </g>
                            <g>
                                <path fill="#FFFFFF" d="M70.2,33.4c-0.2,0-0.4-0.1-0.5-0.4c-0.1-0.3,0.1-0.5,0.4-0.6l7.7-2.1c0.3-0.1,0.5,0.1,0.6,0.4 c0.1,0.3-0.1,0.5-0.4,0.6l-7.7,2.1C70.3,33.4,70.2,33.4,70.2,33.4z"/>
                            </g>
                            <g>
                                <path fill="#FFFFFF" d="M67.3,25.9c-0.2,0-0.3-0.1-0.4-0.2c-0.1-0.2-0.1-0.5,0.2-0.7l6.9-4c0.2-0.1,0.5-0.1,0.7,0.2 c0.1,0.2,0.1,0.5-0.2,0.7l-6.9,4C67.5,25.8,67.4,25.9,67.3,25.9z"/>
                            </g>
                            <g>
                                <path fill="#FFFFFF" d="M62.6,19.3c-0.1,0-0.3,0-0.4-0.1c-0.2-0.2-0.2-0.5,0-0.7l5.7-5.7c0.2-0.2,0.5-0.2,0.7,0s0.2,0.5,0,0.7 L63,19.1C62.9,19.2,62.8,19.3,62.6,19.3z"/>
                            </g>
                            <g>
                                <path fill="#FFFFFF" d="M56.4,14.2c-0.1,0-0.2,0-0.2-0.1c-0.2-0.1-0.3-0.4-0.2-0.7l4-6.9c0.1-0.2,0.4-0.3,0.7-0.2 c0.2,0.1,0.3,0.4,0.2,0.7l-4,6.9C56.7,14.1,56.5,14.2,56.4,14.2z"/>
                            </g>
                            <g>
                                <path fill="#FFFFFF" d="M49,10.8c0,0-0.1,0-0.1,0c-0.3-0.1-0.4-0.3-0.4-0.6l2.1-7.7c0.1-0.3,0.4-0.4,0.6-0.4 c0.3,0.1,0.4,0.3,0.4,0.6l-2.1,7.7C49.4,10.7,49.2,10.8,49,10.8z"/>
                            </g>
                        </g>
                    </svg>