include mixin
doctype html
html
    head
        include head
    body
        //-block trans
            include trans
            
        - var HeaderClasses= [];
        block beforeHeader
            header(class=HeaderClasses)
            
        - var wrapClasses= [];
        block beforeWrap
            .wrap(class=wrapClasses)
                block wrapContent
                
        block afterWrap
            - var arr = jsArr || [] 
            - var path = 'bundle/'
            - var file = '.js'
            each item in arr
                +js(item)
                